<script lang="ts">
	import Toc from 'svelte-toc';
</script>

<div class="flex w-full justify-center overflow-visible text-left">
	<div id="text-based" class="flex-1">
		<slot />
	</div>

	<div id="toc" class="max-w-[33%] overflow-visible">
		<Toc
			--toc-hover-color="#940606"
			--toc-desktop-max-width="100%"
			--toc-active-bg="#940606"
			--toc-mobile-bg="black"
			pageBody="main"
			title="Table of contents"
			breakpoint={1023}
		/>
	</div>
</div>

<style global>
	#text-based h2 {
		@apply my-2 text-2xl tracking-tight;
	}
	#text-based h3 {
		@apply my-2 text-lg;
	}
	#text-based h4 {
		@apply font-semibold;
	}
	#text-based h5 {
		@apply underline;
	}
	#text-based li {
		@apply my-2 ml-2 overflow-visible;
	}
	#text-based p,
	#text-based ul {
		@apply my-2 ml-2 list-disc overflow-visible;
	}
	#text-based pre,
	#text-based code {
		@apply bg-black p-2 font-mono text-gray-200;
	}
	#text-based th,
	#text-based td,
	#text-based table {
		@apply border-collapse border-4 border-black p-2;
	}
	#text-based tr:nth-child(even) {
		@apply bg-black;
	}
	#toc > div > aside > nav {
		@apply scrollbar-thin;
	}
	#toc > div > aside > nav {
		@apply scrollbar-thin;
	}
	#toc li {
		@apply mr-8 overflow-ellipsis;
	}
	#toc ul {
		@apply overflow-hidden;
	}
</style>
