<script>
	import { page } from '$app/stores';
	import errorChan from '$lib/assets/errorchan.webp';
</script>

<div class="container">
	<h2>
		<img src={errorChan} alt="" />
		<span>{$page.status}</span>
	</h2>
	{#if $page.error !== null}
		<div class="message-container">
			<p style="margin-bottom: 0.5rem;">
				{$page.error.message}.
			</p>
			<p>
				If you think this is a bug, contact us at
				<a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>
			</p>
		</div>
	{/if}
</div>

<style lang="postcss">
	img {
		@apply max-w-[9rem] sm:max-w-[11rem];
	}
	h2 {
		@apply relative;
	}
	.container {
		@apply mt-8 flex flex-col-reverse items-center justify-center gap-6 sm:flex-row sm:gap-0;
	}
	span {
		@apply absolute right-[7.5%] top-[12.5%] text-2xl font-semibold text-background sm:right-[10%] sm:top-[13.5%];
	}
	p {
		@apply text-lg font-medium;
	}
	.message-container {
		@apply sm:max-w-[40%];
	}
</style>
