<script lang="ts">
	import SvelteSeo from 'svelte-seo';
	import Footer from './Footer.svelte';
	import Nav from './Nav.svelte';
	import '../app.css';
	import GlobalPlayer from './GlobalPlayer.svelte';
	import WarningModal from './WarningModal.svelte';
	import TopMessage from './TopMessage.svelte';
	import cordfuckBanner from '$lib/assets/CordFuck Banner.svg';
	import cordfuckBannerEmmcare from '$lib/assets/CordFuck Banner Emmcare.svg';
	import cordfuckPattern from '$lib/assets/bg-pattern.svg';
	import { page } from '$app/stores';
	import Tracking from './Tracking.svelte';
	import ViewTransition from '$lib/viewTransition.svelte';

	$: emmcare = $page.url.pathname === '/artists/emmcare';
	$: chainsaw = $page.url.pathname === '/artists/chainsawknight';

	let defaultSeoDescription =
		'An underground electronic music label based in Colorado. Underground electronic music from breakcore to hardstyle to electropunk and everything in between.';
</script>

<TopMessage />
<WarningModal />
<div
	class="h-full w-full overflow-visible bg-pattern bg-fixed bg-center text-center text-textColor"
	class:bg-[length:1500px]={!emmcare}
	class:!bg-emmcare={emmcare}
	class:!bg-chainsawknightBg={chainsaw}
	class:bg-cover={emmcare || chainsaw}
>
	<div class="flex h-full w-full justify-center overflow-visible">
		<center
			class="min-h-screen w-full overflow-visible bg-background xl:max-w-4xl"
			class:bg-backgroundEmmcare={emmcare}
		>
			<a href="/">
				<header class="relative h-[20vh] w-full">
					<h1>
						<img
							src={emmcare ? cordfuckBannerEmmcare : cordfuckBanner}
							alt="CordFuck"
							class="absolute bottom-0 left-0 right-0 top-0 z-10 m-auto h-3/4"
						/>
					</h1>
					<div
						class="h-full w-full bg-pattern bg-[length:1500px] brightness-[.25]"
						class:!bg-emmcareHeaderBg={emmcare}
						class:!bg-[length:100%_100%]={emmcare}
					/>
				</header>
			</a>
			<Nav />
			<main class="w-full grow overflow-visible p-4">
				<slot />
			</main>
		</center>
	</div>
	<Footer />
	<GlobalPlayer />
</div>

<SvelteSeo
	title="CordFuck"
	description={defaultSeoDescription}
	keywords="music, breakcore, record label"
	themeColor="#940606"
	openGraph={{
		title: 'CordFuck',
		description: defaultSeoDescription,
		type: 'website',
		image: `https://cordfuck.com${cordfuckPattern}`,
		images: [
			{
				url: `https://cordfuck.com${cordfuckPattern}`,
				width: 1200,
				height: 630,
				alt: ''
			}
		],
		imageAlt: '',
		site_name: 'CordFuck'
	}}
	twitter={{
		card: 'summary_large_image',
		site: '@cordfuckreal',
		title: 'CordFuck',
		description: defaultSeoDescription,
		image: `https://cordfuck.com/${cordfuckPattern}`,
		imageAlt: ''
	}}
/>

<svelte:head>
	{#if emmcare}
		<style lang="postcss">
			* {
				@apply scrollbar-thumb-themeAltEmmcare selection:bg-themeAltEmmcare;
			}
		</style>
	{/if}
</svelte:head>

<Tracking />
<ViewTransition />

<style global lang="postcss">
	h1,
	h2,
	h3 {
		@apply [text-wrap:balance];
	}
	.nav-button {
		@apply hidden h-full items-center justify-center overflow-hidden p-4 font-semibold text-textColor no-underline transition-all visited:text-textColor hover:bg-themeAlt hover:text-textColor md:flex;
	}

	.menu-button {
		@apply font-medium tracking-tighter text-textColor no-underline visited:text-textColor hover:text-textColor hover:underline;
	}

	.btn {
		@apply whitespace-nowrap rounded-sm bg-theme p-2 px-6 text-center font-semibold tracking-tight !text-textColor !no-underline shadow transition-colors hover:!bg-themeAlt;
	}
	.btn:disabled {
		@apply bg-themeAlt !text-textOff;
	}
	a {
		@apply text-white underline hover:text-theme active:text-themeAlt;
	}

	* {
		@apply scrollbar-thin scrollbar-track-black scrollbar-thumb-themeAlt selection:bg-themeAlt;
	}
	hr {
		@apply mb-2 border-textOff;
	}
	* {
		view-transition-name: none;
	}
</style>
