<script lang="ts">
	import ReleaseElm from './discography/Release.svelte';
	import FauxDiscordEmbed from './FauxDiscordEmbed.svelte';
	import type { PageData } from './$types.js';
	import Socials from './socials.svelte';
	import cordChanPeek from '$lib/assets/Cord-Chan Peek.webp';
	import SvelteSeo from 'svelte-seo';

	export let data: PageData;
</script>

<SvelteSeo
	title="Home | CordFuck"
	canonical="https://cordfuck.com/"
	openGraph={{
		title: 'Home | CordFuck',
		url: 'https://cordfuck.com/',
		type: 'website'
	}}
	twitter={{
		title: 'Home | CordFuck'
	}}
/>

<div class="flex min-h-full grow flex-col justify-between gap-4">
	<div class="overflow-hidden">
		<img
			class="float-right -mb-2 max-w-[30vw] overflow-hidden sm:max-w-[25%]"
			src={cordChanPeek}
			alt=""
		/>
		<p class="overflow-visible sm:pt-4 md:pt-8">
			Hi! I'm Cord-chan! The mascot for the underground electronic music label CordFuck. We help
			artists around the world publish their music and even make physical cassette or CD-R releases.
			Whether it be a shitpost single or a high effort album, we'd love to release it for you. Shoot
			an email to&nbsp;<a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>
			with your release and we can talk about any special requests you may have. We do both purely digital
			and physical releases. Check out the&nbsp;<a href="/contact"
				>contact&nbsp;&&nbsp;submissions page</a
			> for more info!
		</p>
	</div>
	<div class="flex grow flex-col gap-4 sm:flex-row">
		<div class="w-full sm:w-1/2">
			<h2 class="overflow-visible text-lg font-semibold tracking-tight">Latest release</h2>
			<ReleaseElm release={data.release} enableViewTransition={false} />
		</div>
		<div class="flex min-h-full w-full flex-col gap-4 sm:w-1/2">
			<div class="flex w-full flex-col items-center justify-center">
				<h2 class="mb-5 overflow-visible text-lg font-semibold tracking-tight">Join our Discord</h2>
				<FauxDiscordEmbed />
			</div>
			<div class="flex w-full flex-col">
				<h2 class="mb-5 overflow-visible font-semibold">Check out our socials</h2>
				<div class="flex grow"><Socials /></div>
			</div>
		</div>
	</div>
</div>
