<script lang="ts">
	import cordfuckLogo from '$lib/assets/CordFuck Logo.svg';
</script>

<div
	class="flex min-w-[160px] max-w-md flex-col items-center justify-between gap-4 overflow-hidden rounded bg-[#2f3136] p-4 sm:max-h-[15rem] md:min-w-[400px] lg:h-20 lg:flex-row"
>
	<div class="flex flex-col items-center lg:flex-row lg:gap-4">
		<img class="w-20 grow lg:w-14" src={cordfuckLogo} alt="" />
		<div class="flex flex-col gap-2 overflow-visible">
			<h3 class="self-center overflow-visible text-lg font-semibold tracking-tighter lg:self-start">
				CordFuck
			</h3>
			<div class="flex h-4 shrink-0 gap-3">
				<div
					class="flex h-4 w-max items-center justify-center gap-1 overflow-hidden text-sm leading-none text-[#B9BBBE]"
				>
					<div class="h-2 w-2 rounded-full bg-[#2d7d46] leading-none" />
					0 Online
				</div>
				<div
					class="flex h-4 w-max items-center justify-center gap-1 overflow-hidden text-sm leading-none text-[#B9BBBE]"
				>
					<div class="h-2 w-2 rounded-full bg-[#747f8d]" />
					0 Members
				</div>
			</div>
		</div>
	</div>
	<a
		class="flex h-10 items-center justify-center overflow-hidden rounded-sm bg-[#2d7d46] px-4 no-underline transition-colors hover:bg-[#215b32] hover:text-white active:bg-[#1e532e] active:text-white"
		href="https://discord.gg/CYbKDrgref">Join</a
	>
</div>
