<script lang="ts">
	import { currentSong } from '../store.js';
	import cordfuckText from '$lib/assets/CordFuck B&W.svg';
</script>

<footer
	class="flex w-full flex-col items-center justify-evenly gap-8 bg-black p-6 md:flex-row"
	class:pb-18={$currentSong}
	class:md:pb-12={$currentSong}
>
	<ul class="md:w-1/3">
		<li><a href="/">Home</a></li>
		<li><a href="/discography">Discography</a></li>
		<li><a href="/shop">Shop</a></li>
		<li><a href="/contact">Contact&nbsp;&&nbsp;Submissions</a></li>
		<li><a href="/cart">Shopping&nbsp;Cart</a></li>
		<li><a href="/api">API</a></li>
		<li><a href="/tos">Terms of Service</a></li>
		<li><a href="/privacy">Privacy Policy</a></li>
		<li><a href="/returns">Return Policy</a></li>
		<li><a href="https://twitter.com/CordFuckReal">Twitter</a></li>
		<li><a href="https://www.youtube.com/@CordFuck">YouTube</a></li>
		<li><a href="https://discord.gg/CYbKDrgref">Discord</a></li>
		<li><a href="https://www.instagram.com/cordfuckhq/">Instagram</a></li>
		<li><a href="https://www.tiktok.com/@cordfuck">Tiktok</a></li>
		<br />
		<li><a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a></li>
	</ul>
	<div class="order-last shrink-[0.8] overflow-visible md:order-none md:w-1/3">
		<div class="flex flex-col items-center overflow-visible font-medium tracking-tight">
			<div class="relative overflow-visible">
				<img src={cordfuckText} alt="CordFuck" class="mb-1 w-60" />
				<span class="absolute -right-4 top-0 overflow-visible text-2xl font-extrabold">™</span>
			</div>
			<p class="mb-1">Copyright&nbsp;©&nbsp;2021-2023 CordFuck.</p>
			<p>Some&nbsp;rights&nbsp;reserved.</p>
		</div>
	</div>
	<div class="md:w-1/3">
		<p>
			This website is free software: you can use it under the terms of the <a
				href="https://www.gnu.org/licenses/agpl-3.0.html">GNU&nbsp;Affero General Public License</a
			>, either version 3 of the License, or any later version.
		</p>
		<p>
			You can find the source code in our <a href="https://gitlab.com/VixieTSQ/cordfuck"
				>repository</a
			>.
		</p>
	</div>
</footer>

<style lang="postcss">
	li {
		@apply inline;
	}
</style>
