<script lang="ts">
	import { currentSong } from '../store.js';
	import Marquee from 'svelte-fast-marquee';
	import { onMount } from 'svelte';
	import { toPrettyTime } from '$lib/prettyTime.js';
	import skipBack from '$lib/assets/skip-back.svg';
	import loader from '$lib/assets/loader.svg';
	import play from '$lib/assets/play-circle.svg';
	import pause from '$lib/assets/pause-circle.svg';
	import skipForward from '$lib/assets/skip-forward.svg';

	let player: HTMLAudioElement;

	let isLoading = false;
	let totalTime = 0;
	let totalPrettyTime = 'Loading...';
	let currentPrettyTime = '00:00';
	let interval: NodeJS.Timeout;
	let progress = 0;
	let playerOpen = false;
	let remSize = 0;

	let viewportWidth: number;
	let playerHeight: number;

	onMount(() => {
		remSize = parseInt(getComputedStyle(document.documentElement).fontSize);

		player = new Audio();
		currentSong.subscribe((current) => {
			if (current) {
				if (current.song.downloadUrl.toString() != player.src) {
					player.src = current.song.downloadUrl.toString();
					player.preload = 'metadata';
					player.onloadedmetadata = () => {
						totalTime = player.duration;
						totalPrettyTime = toPrettyTime(totalTime);
					};
				}
				if (current.isPlaying) {
					isLoading = true;
					totalPrettyTime = 'Loading...';
					player.play();
					isLoading = false;
					interval = setInterval(updatePlayer, 100);
				} else {
					player.pause();
					clearInterval(interval);
				}
			} else {
				player.pause();
			}
		});
		if ($currentSong) {
			currentSong.play();
		}
	});

	const updatePlayer = () => {
		progress = player.currentTime * 100;
		currentPrettyTime = toPrettyTime(player.currentTime);

		if (player.ended) {
			clearInterval(interval);
			currentSong.incrementTrackNumber();
		}
	};

	const progressUpdate = () => {
		player.currentTime = progress / 100;
	};

	const toggleAudio = () => {
		if ($currentSong?.isPlaying) {
			currentSong.pause();
		} else {
			currentSong.play();
		}
	};

	const togglePlayerOpen = () => {
		playerOpen = !playerOpen;
	};
</script>

<svelte:window bind:innerWidth={viewportWidth} />

{#if $currentSong}
	{#if 943 < viewportWidth}
		<div
			class="fixed bottom-0 flex w-screen items-center justify-center gap-6 overflow-hidden bg-black p-2 px-8"
		>
			<div class="flex grow items-center justify-center gap-4">
				<div class="flex min-w-max items-center justify-center">
					<button on:click={currentSong.decrementTrackNumber} class="flex shrink-0 content-start">
						<img class="h-[2em] w-[2em]" src={skipBack} alt="skip back" />
					</button>
					<button on:click={toggleAudio} class="flex shrink-0 content-start">
						<img
							class="h-[2em] w-[2em] {isLoading ? 'animate-spin' : ''}"
							src={isLoading ? loader : $currentSong?.isPlaying ? pause : play}
							alt={$currentSong?.isPlaying ? 'pause' : 'play'}
						/>
					</button>
					<button on:click={currentSong.incrementTrackNumber} class="flex shrink-0 content-start">
						<img class="h-[2em] w-[2em]" src={skipForward} alt="skip forward" />
					</button>
				</div>
				<span class="order-[0] min-w-max overflow-hidden text-sm leading-none"
					>{currentPrettyTime}</span
				>
				<input
					class="block h-2 shrink grow appearance-none overflow-hidden rounded-sm bg-themeAlt outline-none"
					id="track-time-slider"
					type="range"
					min="0"
					max={totalTime * 100}
					name="track-time"
					bind:value={progress}
					on:input={progressUpdate}
				/>
				<span class="min-w-max overflow-hidden text-sm leading-none">{totalPrettyTime}</span>
			</div>
			<a
				class="flex h-full max-w-sm items-center justify-center text-textColor no-underline visited:text-textColor hover:text-textColor"
				href="/discography/{$currentSong.release.catalogNumber}"
			>
				<div class="block aspect-square h-full min-h-0 min-w-0 shrink-0">
					<img
						class="max-h-[1.5rem] max-w-full object-contain"
						src={$currentSong.release.coverArtUrl.toString()}
						alt=""
					/>
				</div>
				&nbsp;
				<span class="flex w-full items-center justify-center gap-1"
					>{$currentSong.song.trackNumber}. <Marquee speed={50}
						><span class="font-semibold">{$currentSong.song.artist}</span>&nbsp;- {$currentSong.song
							.name} &nbsp;&nbsp;</Marquee
					></span
				>
			</a>
		</div>
	{:else}
		<div
			class="fixed bottom-0 z-20 flex w-screen flex-col items-center justify-center gap-6 overflow-hidden bg-black p-2 px-[10%] pt-0 transition-transform duration-300 ease-in-out"
			style={playerOpen
				? ''
				: 'transform: translate(0, '.concat((playerHeight - remSize * 2).toString(), 'px)')}
			bind:clientHeight={playerHeight}
		>
			<button class="flex w-full items-center justify-center p-4" on:mousedown={togglePlayerOpen}>
				<div class="h-0.5 w-16 rounded bg-textColor" />
			</button>
			<a
				class="flex h-full flex-col items-center justify-center text-textColor no-underline visited:text-textColor hover:text-textColor"
				href="/discography/{$currentSong.release.catalogNumber}"
			>
				<div class="block aspect-square h-full min-h-0 min-w-0 shrink-0">
					<img
						class="max-h-full max-w-full object-contain"
						src={$currentSong.release.coverArtUrl.toString()}
						alt=""
					/>
				</div>
			</a>
			<div class="flex w-full grow flex-col items-center justify-center gap-4">
				<div class="flex w-full min-w-max items-center justify-center">
					<button on:click={currentSong.decrementTrackNumber} class="flex shrink-0 content-start">
						<img class="h-12" src={skipBack} alt="skip back" />
					</button>
					<button on:click={toggleAudio} class="flex shrink-0 content-start">
						<img
							class="h-12 {isLoading ? 'animate-spin' : ''}"
							src={isLoading ? loader : $currentSong?.isPlaying ? pause : play}
							alt={$currentSong?.isPlaying ? 'pause' : 'play'}
						/>
					</button>
					<button on:click={currentSong.incrementTrackNumber} class="flex shrink-0 content-start">
						<img class="h-12" src={skipForward} alt="skip forward" />
					</button>
				</div>
				<div class="flex w-full items-center justify-center gap-4 px-4">
					<span class="order-[0] min-w-max overflow-hidden text-sm leading-none"
						>{currentPrettyTime}</span
					>
					<input
						class="block h-2 grow appearance-none overflow-hidden rounded-sm bg-themeAlt outline-none"
						id="track-time-slider"
						type="range"
						min="0"
						max={totalTime * 100}
						name="track-time"
						bind:value={progress}
						on:input={progressUpdate}
					/>
					<span class="min-w-max overflow-hidden text-sm leading-none">{totalPrettyTime}</span>
				</div>
			</div>
			<span class="flex w-full items-center justify-center gap-1"
				>{$currentSong.song.trackNumber}. <Marquee speed={50}
					><span class="font-semibold">{$currentSong.song.artist}</span>&nbsp;- {$currentSong.song
						.name} &nbsp;&nbsp;</Marquee
				></span
			>
		</div>
	{/if}
{/if}

<style lang="postcss">
	#track-time-slider::-webkit-slider-thumb {
		@apply h-2 w-6 cursor-pointer appearance-none rounded !bg-theme;
	}
	#track-time-slider::-moz-range-thumb {
		@apply h-full w-6 cursor-pointer appearance-none border-none bg-theme outline-none;
	}
</style>
