<script lang="ts">
	import { page } from '$app/stores';

	$: emmcare = $page.url.pathname === '/artists/emmcare';

	export let modalOn: boolean;
</script>

{#if modalOn}
	<div
		class="fixed top-0 z-40 h-screen w-screen bg-[#940606E0] backdrop-blur-sm"
		class:bg-[#B677A0E0]={emmcare}
	>
		<slot />
	</div>
{/if}
