<script lang="ts">
	import '../app.css';
	import { page } from '$app/stores';
	import Modal from './Modal.svelte';
	import { cart } from '../store.js';
	import menu from '$lib/assets/menu.svg';
	import shoppingCart from '$lib/assets/shopping-cart.svg';
	import close from '$lib/assets/close.svg';
	import sitting3 from '$lib/assets/emmcare/sitting3.webp';

	let emmcare = false;

	$: emmcare = $page.url.pathname === '/artists/emmcare';

	let modalOn = false;
	const toggleMenu = () => {
		modalOn = !modalOn;
	};

	let cartQuantity = 0;
	$: cartQuantity = $cart.reduce(
		(partialSum) => {
			return { quantity: partialSum.quantity + 1 };
		},
		{ quantity: 0 }
	).quantity;
</script>

<nav
	class="relative flex h-8 w-full overflow-visible bg-theme font-medium tracking-tight"
	class:!bg-themeEmmcare={emmcare}
>
	{#if emmcare}
		<img class="absolute -bottom-[1.65rem] right-1/4 z-10 w-10" src={sitting3} alt="" />
	{/if}
	<button class="px-2 md:hidden" on:click={toggleMenu}>
		<img src={menu} alt="navigate" />
	</button>
	<a
		href="/"
		class="nav-button"
		class:bg-themeAlt={$page.url.pathname === '/'}
		class:hover:!bg-themeAltEmmcare={emmcare}>Home</a
	>
	<a
		href="/discography"
		class="nav-button"
		class:bg-themeAlt={$page.url.pathname === '/discography'}
		class:hover:!bg-themeAltEmmcare={emmcare}>Discography</a
	>
	<a
		href="/shop"
		class="nav-button"
		class:bg-themeAlt={$page.url.pathname === '/shop'}
		class:hover:!bg-themeAltEmmcare={emmcare}>Shop</a
	>
	<a
		href="/contact"
		class="nav-button"
		class:bg-themeAlt={$page.url.pathname === '/contact'}
		class:hover:!bg-themeAltEmmcare={emmcare}>Contact & Submissions</a
	>
	<a
		href="/cart"
		class="relative ml-auto flex items-center justify-center overflow-hidden bg-theme p-4 text-textColor no-underline visited:text-textColor hover:!bg-themeAlt hover:text-textColor"
		class:bg-themeEmmcare={emmcare}
		class:hover:!bg-themeAltEmmcare={emmcare}
		class:!bg-themeAlt={$page.url.pathname === '/cart'}
	>
		<img class="overflow-hidden" src={shoppingCart} alt="shopping cart" />
		<div
			class="absolute left-7 top-3.5 overflow-hidden rounded-full bg-inherit pl-0.5 pr-2 text-sm font-semibold leading-none"
		>
			{#if cartQuantity > 9}
				9+
			{:else if cartQuantity > 0}
				{cartQuantity}
			{/if}
		</div>
	</a>
</nav>
<Modal {modalOn}>
	<div class="flex h-full w-full flex-col gap-6 overflow-hidden pt-16">
		<button class="absolute left-5 top-5" on:click={toggleMenu}>
			<img src={close} alt="navigate" class="aspect-square w-8" />
		</button>
		<a href="/" class="menu-button" on:click={toggleMenu}>Home</a>
		<a href="/discography" class="menu-button" on:click={toggleMenu}>Discography</a>
		<a href="/shop" class="menu-button" on:click={toggleMenu}>Shop</a>
		<a href="/contact" class="menu-button" on:click={toggleMenu}>Contact & Submissions</a>
	</div>
</Modal>
