<script lang="ts">
	import type { Product } from '$lib/types.js';
	import { cart } from '../store.js';
	import checkmark from '$lib/assets/checkmark-circle.svg';
	import { fly } from 'svelte/transition';
	import { warningOn } from '../store.js';

	export let product: Product;

	let showSuccess = false;

	const formatter = new Intl.NumberFormat('en-US', {
		style: 'currency',
		currency: 'USD'
	});

	const numberAsCurrency = (number: number) => {
		return formatter.format(number);
	};

	const addToCart = () => {
		cart.addProduct(product);
		showSuccess = true;
		new Promise((r) => setTimeout(r, 1000)).then(() => (showSuccess = false));
	};
</script>

<li
	class="flex max-w-[400px] flex-col gap-4 rounded bg-black text-center sm:h-48 sm:w-full sm:max-w-none sm:flex-row sm:text-left"
>
	<div
		class="flex aspect-square min-h-0 w-full min-w-0 shrink-0 grow-0 items-center sm:w-auto sm:min-w-[12rem] sm:shrink"
	>
		<img
			class:opacity-0={$warningOn}
			loading="lazy"
			class="aspect-square h-full object-cover"
			src={product.pictureUrl.toString()}
			alt=""
		/>
	</div>
	<div
		class="flex min-h-[10rem] grow flex-col justify-between gap-4 overflow-visible p-4 pt-0 sm:pt-4"
	>
		<div class="shrink overflow-visible sm:max-w-[24rem]">
			<h3 class="text-md mb-1 text-xl font-semibold tracking-tight">
				{product.name}
			</h3>
			<small class="text-xs text-textOffish">{product.description}</small>
		</div>
		<div
			class="flex items-center justify-center gap-2 overflow-visible text-center sm:justify-normal sm:self-end"
		>
			{#if product.inStock}
				<span class="w-max text-xl font-semibold tracking-tight"
					>{numberAsCurrency(product.price)}
				</span>
				<span class="w-max text-xl font-semibold tracking-tight">-</span>
				<button
					on:click={addToCart}
					class="btn grid w-max grid-cols-1 grid-rows-1 overflow-hidden bg-theme"
					disabled={showSuccess}
				>
					{#if showSuccess}
						<div
							class="col-start-1 row-start-1 grid w-full grid-cols-1 grid-rows-1 content-center justify-center"
							out:fly={{ x: -200, duration: 500 }}
							in:fly={{ x: 200, duration: 500 }}
						>
							<div class="col-start-1 row-start-1 opacity-0" aria-hidden="true">Add to cart</div>
							<img class="col-start-1 row-start-1 m-auto h-full" src={checkmark} alt="Added!" />
						</div>
					{:else}
						<div
							class="col-start-1 row-start-1"
							out:fly={{ x: -200, duration: 500 }}
							in:fly={{ x: 200, duration: 500 }}
						>
							Add to cart
						</div>
					{/if}
				</button>
			{:else}
				<span class="w-max overflow-visible whitespace-nowrap text-lg">No longer sold</span>
				<span class="w-max text-xl font-semibold tracking-tight">-</span>

				<button class="btn w-max" disabled>Add to cart</button>
			{/if}
		</div>
	</div>
</li>
