<script lang="ts">
	import type { Product } from '$lib/types.js';
	import ProductElm from './Product.svelte';

	export let products: Product[];
</script>

<ul class="grid grid-cols-1 justify-items-center gap-4 overflow-x-hidden">
	{#each products as product}
		<ProductElm {product} />
	{/each}
</ul>
