<script lang="ts">
	import youtube from '$lib/assets/youtube.svg';
	import twitter from '$lib/assets/twitter.svg';
	import instagram from '$lib/assets/instagram.svg';
</script>

<ul class="block w-full text-2xl font-semibold">
	<li class="text-left">
		<a
			href="https://twitter.com/CordFuckReal"
			target="_blank"
			rel="noreferrer"
			class="flex items-center gap-2 no-underline"
		>
			<img class="w-14" src={twitter} alt="" />
			<span class="overflow-visible">Twitter</span>
		</a>
	</li>
	<li class="text-right">
		<a
			href="https://www.instagram.com/cordfuckhq/"
			target="_blank"
			rel="noreferrer"
			class="flex items-center justify-end gap-2 no-underline"
		>
			<span class="overflow-visible">Instagram</span>
			<img class="w-14" src={instagram} alt="" />
		</a>
	</li>
	<li class="text-left">
		<a
			href="https://www.youtube.com/@CordFuck"
			target="_blank"
			rel="noreferrer"
			class="flex items-center gap-2 no-underline"
		>
			<img class="w-14" src={youtube} alt="" />
			<span class="overflow-visible">YouTube</span>
		</a>
	</li>
</ul>
