<script lang="ts">
	import { onMount } from 'svelte';
	import close from '$lib/assets/close.svg';

	let messageOn = false;

	onMount(() => {
		let storedClosedMessage = localStorage.getItem('closedDefunctMessage');
		messageOn = !(storedClosedMessage === 'true');
	});
	const okay = () => {
		messageOn = false;
		localStorage.setItem('closedDefunctMessage', 'true');
	};
</script>

{#if messageOn}
	<div
		class="fixed top-0 z-20 hidden w-screen items-center justify-center bg-theme p-2 text-center text-textColor md:flex"
	>
		<span class="m-auto shrink">
			CordFuck has changed ownership as of 1-25-2024, but this website is still ran for archival
			purposes by the original owner.
		</span>
		<button class="ml-auto mr-4 aspect-square w-9 shrink-0" on:click={okay}
			><img class="h-full" src={close} alt="close" /></button
		>
	</div>
{/if}
