<script lang="ts">
	import { browser } from '$app/environment';
	import { afterNavigate } from '$app/navigation';
	import { matomo } from '../store';

	let matomoLoaded = () => {
		matomo.set(window.Matomo.addTracker('https://matomo.cordfuck.com/matomo.php', 1));
		$matomo.disableCookies();
		$matomo.trackPageView();
		$matomo.enableLinkTracking();
	};
	afterNavigate(() => {
		if ($matomo === undefined) {
			return;
		}
		$matomo.trackPageView(document.title);
	});
</script>

<svelte:head>
	{#if browser}
		<script async src="https://matomo.cordfuck.com/matomo.js" on:load={matomoLoaded}></script>
	{/if}
</svelte:head>
