<script lang="ts">
	import { onMount } from 'svelte';
	import Modal from './Modal.svelte';
	import { warningOn } from '../store.js';

	let modalOn = false;

	onMount(() => {
		let storedAcceptedModal = localStorage.getItem('acceptedWarningModal');
		modalOn = !(storedAcceptedModal === 'true');
	});
	const okay = () => {
		modalOn = false;
		localStorage.setItem('acceptedWarningModal', 'true');
	};

	$: warningOn.set(modalOn);
</script>

<Modal {modalOn}>
	<div
		class="flex h-full w-full flex-col items-center justify-center gap-2 text-center text-textColor"
	>
		<h1 class="text-lg font-semibold">Content warning</h1>
		<p>
			Though this site is for the most part SFW, some releases may contain NSFW or disturbing
			elements such as album art or samples.
		</p>
		<p>Are you okay with that?</p>
		<br />
		<div class="flex gap-2">
			<a href="https://youtu.be/PunVHiOxUEk?t=13" class="btn">No</a>
			<button class="btn" on:click={okay}>Okay!</button>
		</div>
	</div>
</Modal>
