<script lang="ts">
	import AssetList from './AssetList.svelte';
	import Message from './message.svelte';
	import ccNeutral from '$lib/assets/contactemotes/cc-neutral.webp';
	import ccAnnoyed from '$lib/assets/contactemotes/cc-annoyed.webp';
	import ccCry from '$lib/assets/contactemotes/cc-cry.webp';
	import bdNeutral from '$lib/assets/contactemotes/bd-neutral.webp';
	import bdQuestion from '$lib/assets/contactemotes/bd-question.webp';
	import bdCry from '$lib/assets/contactemotes/bd-cry.webp';
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="Contact | CordFuck"
	canonical="https://cordfuck.com/contact"
	openGraph={{
		title: 'Contact | CordFuck',
		url: 'https://cordfuck.com/contact',
		type: 'website'
	}}
	twitter={{
		title: 'Contact | CordFuck'
	}}
/>

<p>
	Problem with your physical? Questions or concerns? Looking to make a submission? You can contact
	us by email <a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>, DMing us on any of our
	socials, or DMing one of our organizers in our
	<a href="https://discord.gg/CYbKDrgref">Discord</a>. Please read below before making a submission
	and contact us once you do!
</p>

<ul class="!m-0">
	<h2>Guidelines</h2>

	<Message img={bdNeutral} character="braindead-chan">
		<p>Hey! You're like a label or whatever right? I'd like to make a submission!</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			Yup! You're in the right place. Let me preface this by saying this is not a legal document. If
			we don't want to release your music, we won't. That being said, if your release meets the
			following requirements, it will <i>probably</i> be fine.
		</p>
		<ul>
			We do not accept:
			<li>
				<strong>Bigoted content.</strong> If you own a slur and you're using it in a non-hateful way,
				that's fine,
			</li>
			<li>
				<strong>Genres outside of the underground electronic umbrella.</strong> Although this isn't just
				a breakcore label, we still only accept underground electronic music like dubstep, nerdcore techno,
				hardstyle, and all sorts of things like that,
			</li>
			<li>
				<strong>Files rendered with excessively bad file formats.</strong> Namely MP3. Best to use FLAC
				or WAV (we here at CordFuck are FLAC enjoyers),
			</li>
			<li>
				<strong>Content that's already released.</strong> We won't rerelease your music, unless it's
				different in some way (like a remaster), or you want a physical rerelease.
			</li>
		</ul>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>Wait, that's it?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			Yep! Other than that, we just need a cover, the audio files and then it's just a question of
			whether we like it or not. The more we like it, the more promotion and stuff like that we'll
			give it.
		</p>
	</Message>
	<Message img={bdCry} character="braindead-chan">
		<p>You mean I can't just submit an album I made in 5 seconds??!</p>
	</Message>
	<Message img={ccAnnoyed} character="cord-chan">
		<p>
			No. There's enough gabber kick over repeated anime sample for 10 hours in this world. At least
			use a hardstyle kick or something.
		</p>
	</Message>

	<h2>Digital & Distribution</h2>

	<Message img={bdNeutral} character="braindead-chan">
		<p>So, how will you distribute my release?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			We don't believe in charging for digital files, so all of our releases are up for download on
			our site at high quality, for free! We'll also distribute it to YouTube for ease of listening.
			If need be, we can use a censored cover on YouTube.
		</p>
		<p>We'll also make a Discogs entry for you!</p>
	</Message>
	<Message img={ccAnnoyed} character="cord-chan">
		<p>One that actually complies with Discogs's rules and won't get you put on CIP.</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			The audio files will be peak normalized to -3dBFS using the highest peak in the whole release.
			Meaning the tallest peak in your entire release will be brought to -3dBFS, applying the same
			amount of volume modification on all tracks, e.g. +3db to every track if the tallest peak in
			the entire album is -6dBFS. So make sure your relative loudness between tracks is correct.
			We'll also embed metadata in the files.
		</p>
	</Message>

	<h2>Physicals</h2>

	<Message img={bdQuestion} character="braindead-chan">
		<p>So you do CDs and stuff right?? Can you do one for my release?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			Maybe. We'll only do physicals for really good albums. But it isn't just physicals, we can do
			any sort of merch. Posters, shirts, whatever you can think of. We'll try and make it happen.
			But CDs and cassettes are what we specialize in, and our process for those are clearly
			documented. So keep on reading.
		</p>

		<p>
			Our physicals are made on order, so they come at no cost to you. They are DIY and might not be
			as professional as big duplicators can do, but that being said, we've been told our physicals
			don't feel DIY at all. They are made with quality materials and equipment, and precision, and
			love.
		</p>
	</Message>
	<Message img={ccCry} character="cord-chan">
		<p>
			Of course, this is all a lot of work for us, so we take a cut of about 30% from the profits,
			specific numbers down below. You must be able to accept your cut by Paypal.
		</p>
	</Message>
	<Message img={bdCry} character="braindead-chan">
		<p>What?? It's my music! I thought you were a cool label!!</p>
	</Message>
	<Message img={ccAnnoyed} character="cord-chan">
		<p>
			30% may seem like a lot, but would you rather spend a thousand dollars on equipment and
			supplies just to spend a week learning how to make CDs, and weeks more perfecting your craft.
			Or would you rather lose out on not even half of the profits and do absolutely nothing but
			design the physical.
		</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			Speaking of design, we give you full control over the look of your physical release using the
			templates below. Lots of people fill them out wrong so make sure to read carefully.
		</p>
		<ul>
			To fill out the templates properly, you must:
			<li>
				<strong>
					extend your image all the way to the bleed line, and keep text and important stuff in the
					text legibility line.
				</strong> Both machines and humans aren't perfect, so these lines are to make sure we don't cut
				off any important elements in your design, or leave a bad looking white border on your design,
			</li>
			<li>
				<strong>save, don't export.</strong> Exporting (at least in Photoshop) will erase PPI information
				from the file. In most programs, you can just save as a PNG instead of exporting as a PNG (and
				do make sure it's a PNG for maximum quality),
			</li>
			<li>
				<strong>put some effort into making your cover j-card friendly.</strong> Stretching or cropping
				your cover art just plain doesn't look nice. For a cassette j-card, you can try bringing your
				foreground elements closer to the middle, allowing you to chop off the sides,
			</li>
			<li>
				<strong>put your art on top of the template and leave the template layer visible.</strong> You're
				keeping both layers visible when exporting. We use the outer black lines as guides for cutting,
				so make sure not to obscure those either.
			</li>
		</ul>
		<p>
			Let us know if you need clarification or design help! You can also just give us the PSDs of
			your design so we can correct any problems ourselves.
		</p>
	</Message>

	<h3>CD-Rs</h3>

	<Message img={ccNeutral} character="cord-chan">
		<p>We sell CDs at $10 plus shipping and give you $5.25 per sale. CD art is paper label.</p>
		<div class="w-full">
			<AssetList
				urls={[
					'https://media.cordfuck.com/art/templates/insert%20outside.png',
					'https://media.cordfuck.com/art/templates/insert%20inside.png',
					'https://media.cordfuck.com/art/templates/back%20insert%20outside.png',
					'https://media.cordfuck.com/art/templates/back%20insert%20inside.png',
					'https://media.cordfuck.com/art/templates/cd%20label.png'
				]}
			/>
		</div>
	</Message>

	<h3>Cassettes</h3>

	<Message img={ccNeutral} character="cord-chan">
		<p>We sell Cassettes at $12 plus shipping and give you $6.25 per sale.</p>
		<p>
			We buy cassette blanks in bulk, meaning they are all the same length and are all clear. We
			usually buy 64-minute length cassettes (that's 32 per side), but if you need a longer time,
			just ask! We <i>might</i> have longer cassettes at the time. But if you need a <i>shorter</i> cassette,
			you're out of luck. You will just have to deal with a long silence trailing the end of your release.
			If that doesn't work for you, you're probably better off with CD-Rs.
		</p>
		<p>
			You should also think about if the lengths of your songs are cassette friendly. If you have
			one 45-minute track, and one 6-minute track, although that does add up to under 64 minutes,
			you can't fit a 45-minute track into a 32-minute side. If your release in total is also under
			32-minutes we will just dub the entire release on both sides of the cassette.
		</p>
		<ul>
			<li>No noise reduction,</li>
			<li>dubbed using a Nakamichi BX-300,</li>
			<li>bias tuned for accuracy to digital master.</li>
		</ul>
		<div class="w-full">
			<AssetList
				urls={[
					'https://media.cordfuck.com/art/templates/j-card%20outside.png',
					'https://media.cordfuck.com/art/templates/j-card%20inside.png'
				]}
			/>
		</div>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>Well... I think that's it! That's all you need to know to make a submission to CordFuck.</p>
	</Message>
	<Message img={bdNeutral} character="braindead-chan">
		<p>Gosh golly, I sure am informed. I'll be sure to contact a CordFuck organizer today!</p>
	</Message>

	<h2>Frequently Asked Questions</h2>

	<Message img={bdNeutral} character="braindead-chan">
		<p>I have some questions!</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>Shoot!</p>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>Will you distribute my release to Spotify, Apple Music, and other streaming platforms?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>No. We only handle distribution on our website and YouTube.</p>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>
			Can I distribute my release to Bandcamp or streaming platforms like Spotify and release with
			CordFuck at the same time?
		</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			Yes! But, please don't put it out before we release it! We would need to coordinate when we
			release it, and when it goes live on streaming platforms.
		</p>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>Can I rerelease something I've already released?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			No. Unless it's a physical rerelease, or it's different in some way to the original, like a
			remaster.
		</p>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>What's the difference between the CF and CFR catalogs?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			The CFR catalog is for shorter or lower quality releases. While the CF catalog being for big
			albums and EPs we really like!
		</p>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>How do I join your roster?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>
			We don't publicly accept requests to join our permanent roster. We'll reach out to you if we
			are interested. Try submitting an album first.
		</p>
	</Message>
	<Message img={bdQuestion} character="braindead-chan">
		<p>I don't want to be paid for merch sales. Can you just keep the royalties?</p>
	</Message>
	<Message img={ccNeutral} character="cord-chan">
		<p>Sure! We definitely can! And thank you.</p>
	</Message>
</ul>

<style lang="postcss">
	p {
		@apply !m-0;
	}
	h2 {
		@apply !mb-0 !mt-8;
	}
	ul {
		@apply !mt-0;
	}
</style>
