<script lang="ts">
	import download from '$lib/assets/download.svg';
	import file from '$lib/assets/file.svg';

	export let urls: string[];

	const isImage = (url: string) => {
		return /\.(jpg|jpeg|png|webp|avif|gif|svg)$/.test(url);
	};
	const fileName = (url: string) => {
		return decodeURI(url.substring(url.lastIndexOf('/') + 1));
	};
</script>

<ul
	class="!m-0 flex max-h-72 min-h-[8rem] !list-none flex-wrap items-center justify-center gap-4 overflow-scroll rounded bg-black p-4 md:h-32 md:flex-nowrap md:justify-start md:overflow-y-hidden"
>
	{#each urls as url}
		<li class="group relative aspect-square h-24 min-h-0 overflow-hidden rounded bg-textColor">
			<a
				download
				href={url}
				class="absolute top-0 flex h-full w-full flex-col justify-between bg-background bg-opacity-70 p-2 no-underline opacity-0 transition-all group-hover:opacity-100"
			>
				<span class="text-ellipsis text-xs text-textColor">{fileName(url)}</span>
				<img class="h-1/3" src={download} alt="download" />
			</a>
			{#if isImage(url)}
				<img loading="lazy" class="h-full object-cover" src={url} alt={fileName(url)} />
			{:else}
				<img loading="lazy" class="m-auto mt-2 h-1/2" src={file} alt={fileName(url)} />
			{/if}
		</li>
	{/each}
</ul>
