<script lang="ts">
	import type { Product } from '$lib/types.js';
	import { cart } from '../../store.js';
	import { onMount } from 'svelte';
	import Products from '../Products.svelte';
	import SvelteSeo from 'svelte-seo';

	export let data: { products: Product[] };

	onMount(() => {
		cart.refresh(data.products);
	});
</script>

<SvelteSeo
	title="Shop | CordFuck"
	canonical="https://cordfuck.com/shop"
	openGraph={{
		title: 'Shop | CordFuck',
		url: 'https://cordfuck.com/shop',
		type: 'website'
	}}
	twitter={{
		title: 'Shop | CordFuck'
	}}
/>

<Products products={data.products} />
