<script lang="ts">
	import InfiniteScroll from 'svelte-infinite-scroll';
	import type { Release } from '$lib/types.js';
	import ReleaseElm from './Release.svelte';
	import type { PageData } from './$types.js';

	export let data: PageData;

	let all: Release[] = data.releases;
	let releases: Release[] = all.splice(0, 10);

	const nextPage = async () => {
		releases = [...releases, ...all.splice(0, 10)];
	};
</script>

<svelte:head>
	<title>CordFuck | Discography</title>
</svelte:head>

<div class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:!grid-cols-3">
	{#each releases as release (release.catalogNumber)}
		<ReleaseElm {release} />
	{/each}
	<InfiniteScroll
		hasMore={all.length}
		threshold={1000}
		on:loadMore={() => {
			nextPage();
		}}
		window={true}
	/>
</div>
