<script lang="ts">
	import type { Release } from '$lib/types.js';
	import { warningOn } from '../../store.js';

	export let release: Release;
	export let enableViewTransition = true;
</script>

<article class="flex flex-col gap-1">
	<a class="no-underline" href="/discography/{release.catalogNumber}">
		<div class="m-4 aspect-square min-h-0 min-w-0">
			<img
				class:opacity-0={$warningOn}
				class="max-h-full max-w-full object-contain"
				src={release.coverArtUrl.toString()}
				alt=""
				loading="lazy"
				style:view-transition-name={enableViewTransition
					? `release-image-${release.catalogNumber}`
					: 'none'}
			/>
		</div>
		<h2 class="overflow-hidden font-medium leading-5 tracking-tight">
			{release.artist} - {release.title}
		</h2>
	</a>
	<small class="tracking-wide text-textOffish">{release.catalogNumber}</small>
</article>
