<script lang="ts">
	import emm from '$lib/assets/emmcare.webp';
	import twitter from '$lib/assets/twitter.svg';
	import soundcloud from '$lib/assets/soundcloud.svg';
	import bandcamp from '$lib/assets/bandcamp.svg';
	import sitting1 from '$lib/assets/emmcare/sitting1.webp';
	import sitting2 from '$lib/assets/emmcare/sitting2.webp';
	import sitting4 from '$lib/assets/emmcare/sitting4.webp';

	import Release from '../../discography/Release.svelte';
	import TestimonialCarousel from './testimonialCarousel.svelte';
	import type { PageData } from './$types.js';
	import SvelteSeo from 'svelte-seo';

	export let data: PageData;

	const description =
		'Emmcare, colloquially known as Emm, is a landmark U.S. federal project which aimed to provide easily accessible healthcare to all Americans. Much of the info...';
</script>

<SvelteSeo
	title="emmcare | CordFuck"
	canonical="https://cordfuck.com/artists/emmcare"
	{description}
	openGraph={{
		title: 'emmcare | CordFuck',
		url: 'https://cordfuck.com/artists/emmcare',
		description: description,
		image: `https://cordfuck.com/ogimages/emmcare.webp`,
		images: [
			{
				url: 'https://cordfuck.com/ogimages/emmcare.webp',
				width: 1200,
				height: 630,
				alt: ''
			}
		],
		type: 'profile'
	}}
	twitter={{
		title: 'emmcare | CordFuck',
		description: description,
		image: `https://cordfuck.com/ogimages/emmcare.webp`,
		imageAlt: ''
	}}
/>

<section class="mb-4">
	<div class="mr-4 overflow-hidden sm:float-left sm:block sm:max-w-[40%]">
		<div class="relative hidden overflow-visible sm:block">
			<img src={emm} alt="" />
			<img class="absolute -bottom-6 left-1/3 w-14" src={sitting2} alt="" />
		</div>
		<ul class="mt-1 flex flex-wrap items-center justify-evenly">
			<li>
				<a target="_blank" rel="noreferrer" href="https://twitter.com/ems_konto">
					<img class="w-16" src={twitter} alt="Twitter" />
				</a>
			</li>
			<li>
				<a target="_blank" rel="noreferrer" href="https://soundcloud.com/emmcloud">
					<img class="w-16" src={soundcloud} alt="Soundcloud" />
				</a>
			</li>
			<li>
				<a target="_blank" rel="noreferrer" href="https://emmcare.bandcamp.com/">
					<img class="w-14" src={bandcamp} alt="Bandcamp" />
				</a>
			</li>
		</ul>
	</div>
	<p>
		Emmcare, colloquially known as Emm, is a landmark U.S. federal project which aimed to provide
		easily accessible healthcare to all Americans. Much of the information on this project is not
		known as they are still inaccessible in classified files, but Emmcare aimed to provide a variety
		of electronic music, usually around the underground scenes of breakcore, lolicore, and other
		genres stemming from hardcore.
	</p>

	<h2 class="text-4xl">Founder</h2>

	<p>
		Emm, founder of Emmcare, was released on 21. July 2017, from government facilities of unknown
		location. Not much is known about her; she is a self-described “Malproduct of the internet and
		its consequences.” According to some sources she is wanted in Germany. We don’t know why. It
		says some of its greatest inspirations are Mario. We don’t know what she means, like does she
		mean as a person???? or like the mario soundtrack? which mario??? huh? Why did she tell us this?
	</p>

	<h2>Founding</h2>

	<p class="relative">
		<img class="absolute -top-14 right-[30%] w-12" src={sitting1} alt="" />
		The sources we have on the start of Emmcare differ, some pinning it around late 2022, while others
		placing it in early 2023. Emm began composing music a bit under a year before the beginnings of Emmcare,
		using programs such as Musescore and Cakewalk, before switching to FL Studio, which would mark the
		beginnings of the sound which would become Emmcare.
	</p>

	<h2>Controversy</h2>

	<p>
		Some controversy surrounds Emmcare’s creation and running, as certain organizations have voiced
		concern to Emmcare’s true motive. One of these such instigators was Fox News’ Tucker Carlson,
		who spoke on live television: “.....Sound familiar? That’s right. They aren’t even hiding it.
		Emmcare isn’t some sort of affordable health care, it’s a direct attack on you and your family.”
		Other such criticisms have accused Emmcare of being a government program aimed at “subverting
		the American National Values”, “Destroying the West”, and “Irreparably damaging the Christian
		family”. Emm has not yet responded to these accusations.
	</p>
</section>

<TestimonialCarousel />

<h2>Releases</h2>

<section
	class="relative grid grid-cols-1 gap-2 overflow-visible !text-center sm:grid-cols-2 md:!grid-cols-3"
>
	<img class="absolute -right-4 -top-16 w-14" src={sitting4} alt="" />
	{#each data.releases as release (release.catalogNumber)}
		<Release {release} />
	{/each}
</section>

<style lang="postcss">
	h2 {
		@apply my-2 text-2xl tracking-tight;
	}
	p {
		@apply my-2 ml-2 list-disc overflow-visible;
	}
	* {
		@apply text-left;
	}
</style>
