<script lang="ts">
	export let img: string;
	export let title: string;
	export let fullHeight = false;
</script>

<li
	class="flex grow basis-0 flex-col items-center gap-2 overflow-hidden rounded bg-black p-4 text-center"
	class:h-full={fullHeight}
	class:justify-evenly={fullHeight}
>
	<img class="aspect-square w-1/2 rounded-full" src={img} alt="" />
	<div>
		<h3 class="mb-2 text-xl font-semibold tracking-tight">{title}</h3>
		<p class="text-sm"><slot /></p>
	</div>
</li>
