<script lang="ts">
	import ahmad from '$lib/assets/emmcare/ahmad.webp';
	import djchem from '$lib/assets/emmcare/djchem.webp';
	import fourchan from '$lib/assets/emmcare/4chan.webp';
	import Testimonial from './testimonial.svelte';
	import { fly } from 'svelte/transition';
	import arrowRight from '$lib/assets/arrow-right.svg';
	import arrowLeft from '$lib/assets/arrow-left.svg';

	const testimonials = [
		{
			title: 'Anonymous, 4chan',
			review:
				'what kind of drum and bass sounding ahh shit is this loooooooooord yakubian ass shit fr',
			img: fourchan
		},
		{
			title: 'Ahmad, Twitter',
			review: 'My fucking ears never fucking touch flstudio again holy shit',
			img: ahmad
		},
		{
			title: 'DJ Chem, Your mom',
			review: 'THAT WAS SHIT LMAO',
			img: djchem
		}
	];

	let currentCarouselIndex = 1;
	let reverse = true;
	let next = async () => {
		reverse = false;
		await Promise.resolve();
		currentCarouselIndex =
			testimonials.length - 1 === currentCarouselIndex ? 0 : currentCarouselIndex + 1;
	};
	let prev = async () => {
		reverse = true;
		await Promise.resolve();
		currentCarouselIndex = currentCarouselIndex === 0 ? 2 : currentCarouselIndex - 1;
	};
</script>

<section class="relative mb-4 block min-[465px]:hidden">
	<ul class="grid h-[20rem] overflow-hidden">
		{#each testimonials as testimonial, i}
			{#if currentCarouselIndex === i}
				<div
					class="col-start-1 row-start-1"
					out:fly={{ duration: 750, x: reverse ? -750 : 750 }}
					in:fly={{ duration: 350, x: reverse ? 750 : -750 }}
				>
					<Testimonial title={testimonial.title} img={testimonial.img} fullHeight
						>{testimonial.review}</Testimonial
					>
				</div>
			{/if}
		{/each}
	</ul>
	<button
		class="absolute bottom-0 right-0 top-0 flex w-8 items-center justify-center"
		on:click={next}
	>
		<img class="w-full overflow-hidden" src={arrowRight} alt="next" />
	</button>
	<button
		class="absolute bottom-0 left-0 top-0 flex w-8 items-center justify-center"
		on:click={prev}
	>
		<img class="w-full overflow-hidden" src={arrowLeft} alt="previous" />
	</button>
</section>

<section class="mb-4 hidden min-[465px]:block">
	<ul class="flex gap-4">
		{#each testimonials as testimonial, i}
			{#if i === 1}
				<li class="hidden md:contents">
					<Testimonial title={testimonial.title} img={testimonial.img}
						>{testimonial.review}</Testimonial
					>
				</li>
			{:else}
				<Testimonial title={testimonial.title} img={testimonial.img}
					>{testimonial.review}</Testimonial
				>
			{/if}
		{/each}
	</ul>
</section>
