<script lang="ts">
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="Return Policy | CordFuck"
	canonical="https://cordfuck.com/returns"
	openGraph={{
		title: 'Return Policy | CordFuck',
		url: 'https://cordfuck.com/returns',
		type: 'website'
	}}
	twitter={{
		title: 'Returns | CordFuck'
	}}
/>

<h2>RETURN POLICY</h2>

<strong>Last updated October 20, 2023</strong>

<p>
	Thank you for your purchase. We hope you are happy with your purchase. However, if your purchase
	is defective or damaged in some way, you may be entitled to a replacement or refund. Please see
	below for more information on our return policy.
</p>
<h3>REFUND</h3>
<p>
	If you can prove your purchase is defective or damaged and you have received your item in the last
	30 days, please email <a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>. If your item
	is found to actually be defective or damaged we will refund the cost of the item and shipping for
	that item.
</p>
<h3>REPLACEMENT</h3>
<p>
	If you can prove your purchase is defective or damaged and you have received your item in the last
	30 days, please email <a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>. If your item
	is found to actually be defective or damaged, you can request to receive a replacement for free,
	shipping included.
</p>
<h3>QUESTIONS</h3>
<p>
	If you have any questions concerning our return policy, please contact us at <a
		href="mailto:contact@cordfuck.com">contact@cordfuck.com</a
	>
</p>
