<script lang="ts">
	import Message from './Message.svelte';
	import ResponseSelector from './ResponseSelector.svelte';
	import storyJson from './story.json';

	type StoryNode = {
		starmoonResponse: string;
		questions: {
			id: number;
			question: string;
			response: StoryNode | 'gotoPrevious' | 'gotoStart';
		}[];
	};
	type Message = {
		character: 'starmoon' | 'braindead-chan';
		content: string | { id: number; question: string }[];
		id: number;
	};

	const story = storyJson as StoryNode;

	type StoryCursor = { current: StoryNode; previous: StoryCursor | null };
	let storyCursor: StoryCursor = { current: story, previous: null };

	let selectResponse = (id: number) => {
		let response = storyCursor.current.questions.find((response) => response.id === id);

		if (response === undefined) {
			throw `Could not find response with ID ${id}. This is a bug, report it.`;
		}

		let newMessages: Message[] = [];
		if (response.response === 'gotoStart') {
			storyCursor = { current: story, previous: null };

			newMessages = [
				{
					character: 'braindead-chan',
					content: storyCursor.current.questions,
					id: historyID + 1
				},
				{
					character: 'starmoon',
					content: storyCursor.current.starmoonResponse,
					id: historyID
				}
			];
		} else if (response.response === 'gotoPrevious') {
			storyCursor = storyCursor.previous ?? storyCursor;
			newMessages = [
				{
					character: 'braindead-chan',
					content: storyCursor.current.questions,
					id: historyID
				}
			];
		} else {
			storyCursor = { current: response.response, previous: storyCursor };
			newMessages = [
				{
					character: 'braindead-chan',
					content: storyCursor.current.questions,
					id: historyID + 1
				},
				{
					character: 'starmoon',
					content: storyCursor.current.starmoonResponse,
					id: historyID
				}
			];
		}

		messageHistory[0].content = response.question;
		messageHistory = [...newMessages, ...messageHistory];
		historyID = historyID + 2;
	};

	let historyID = 3;

	let messageHistory: Message[] = [
		{
			character: 'braindead-chan',
			content: storyCursor.current.questions,
			id: 2
		},
		{
			character: 'starmoon',
			content: storyCursor.current.starmoonResponse,
			id: 1
		}
	];
</script>

<div class="relative flex flex-col overflow-hidden sm:overflow-auto">
	<div
		class="absolute top-0 z-20 h-28 w-full bg-gradient-to-t from-transparent to-background to-90%"
	/>
	<ul
		class="relative flex h-full max-w-2xl flex-col-reverse overflow-x-hidden overflow-y-scroll p-4 pb-16 sm:overflow-hidden"
	>
		{#each messageHistory as message (message.id)}
			<Message character={message.character}>
				{#if typeof message.content === 'string'}
					<p>
						{message.content}
					</p>
				{:else}
					<ResponseSelector responses={message.content} {selectResponse} />
				{/if}
			</Message>
		{/each}
		<div aria-hidden="true" class="sm:h-14" />
	</ul>
</div>
