<script lang="ts">
	import bdNeutral from '$lib/assets/contactemotes/bd-neutral.webp';
	import { scale } from 'svelte/transition';
	import { quintOut } from 'svelte/easing';
	import starmoon from '$lib/assets/starmoonTransparent.webp';

	export let character: 'starmoon' | 'braindead-chan';
</script>

<li
	class:sm:pr-28={character === 'starmoon'}
	class:sm:pl-28={character === 'braindead-chan'}
	class:flex-row-reverse={character === 'braindead-chan'}
	class="!m-0 !mb-4 flex gap-4 overflow-visible text-sm sm:!mb-0 sm:text-base"
	transition:scale={{ easing: quintOut }}
>
	<div class="min-w-max self-start text-center">
		<strong class="!m-0 !-mb-1 !text-sm font-semibold tracking-tight">
			{character === 'braindead-chan' ? 'You' : 'Starmoon'}</strong
		>
		<img
			class="min-w-[5rem] max-w-[5rem] object-contain sm:min-w-[6rem] sm:max-w-[6rem]"
			src={character === 'braindead-chan' ? bdNeutral : starmoon}
			alt=""
		/>
	</div>
	<div
		class="relative mt-10 min-h-[5rem] min-w-0 grow justify-self-stretch overflow-visible rounded border-2 border-themeAlt bg-black p-4"
	>
		{#if character === 'starmoon'}
			<svg class="absolute -left-4 top-1 z-10 h-4 w-4 -rotate-90" viewBox="0 0 400 400">
				<polygon points="200,0 0,400 400,400" class="fill-black" />
			</svg>
			<svg class="absolute -left-5 top-[2px] h-5 w-5 -rotate-90" viewBox="0 0 400 400">
				<polygon points="200,0 0,400 400,400" class="fill-themeAlt" />
			</svg>
		{:else}
			<svg class="absolute -right-4 top-1 z-10 h-4 w-4 rotate-90" viewBox="0 0 400 400">
				<polygon points="200,0 0,400 400,400" class="fill-black" />
			</svg>
			<svg class="absolute -right-5 top-[2px] h-5 w-5 rotate-90" viewBox="0 0 400 400">
				<polygon points="200,0 0,400 400,400" class="fill-themeAlt" />
			</svg>
		{/if}
		<div class="flex flex-col gap-4 overflow-visible">
			<slot />
		</div>
	</div>
</li>
