<script lang="ts">
	import Release from '../../discography/Release.svelte';
	import type { PageData } from './$types.js';
	import SvelteSeo from 'svelte-seo';
	import Chat from './Chat.svelte';
	import twitter from '$lib/assets/twitter.svg';
	import soundcloud from '$lib/assets/soundcloud.svg';
	import spotify from '$lib/assets/spotify.svg';
	import youtube from '$lib/assets/youtube.svg';
	import bandcamp from '$lib/assets/bandcamp.svg';
	import instagram from '$lib/assets/instagram.svg';
	import discord from '$lib/assets/discord.svg';

	export let data: PageData;

	let description =
		"I'm a Brazilian artist that is a huge fan of non biney girlboys. I make the gay music you might or might not have heard before, if...";
</script>

<SvelteSeo
	title="Starmoon | CordFuck"
	canonical="https://cordfuck.com/artists/starmoon"
	{description}
	openGraph={{
		title: 'Starmoon | CordFuck',
		url: 'https://cordfuck.com/artists/starmoon',
		description: description,
		image: `https://cordfuck.com/ogimages/starmoon.webp`,
		images: [
			{
				url: 'https://cordfuck.com/ogimages/starmoon.webp',
				width: 1200,
				height: 630,
				alt: ''
			}
		],
		type: 'profile'
	}}
	twitter={{
		title: 'Starmoon | CordFuck',
		description: description,
		image: `https://cordfuck.com/ogimages/starmoon.webp`,
		imageAlt: ''
	}}
/>

<section>
	<ul class="flex max-w-2xl flex-wrap justify-center gap-4 text-xl font-medium">
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://twitter.com/Lucy_Starmoon"
			>
				<img class="w-16" src={twitter} alt="" />
				<span class="mt-4">Twitter</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-2 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://soundcloud.com/lucy_starmoon"
			>
				<img class="-mt-2 w-16" src={soundcloud} alt="" />
				<span class="mt-4">Soundcloud</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://open.spotify.com/artist/6LkHvIBzMUugKXmM853eqC?si=JU-D0pEMTD-vZidKh66bpA"
			>
				<img class="w-14" src={spotify} alt="" />
				<span class="mt-4">Spotify</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://www.youtube.com/channel/UC4hiymnKqjv-jCgl7swLfxQ"
			>
				<img class="w-14" src={youtube} alt="" />
				<span class="mt-4">YouTube</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://www.instagram.com/lucy_starmoon/"
			>
				<img class="w-14" src={instagram} alt="" />
				<span class="mt-4">Instagram</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://discord.com/invite/ScUPHPxMNg"
			>
				<img class="w-14" src={discord} alt="" />
				<span class="mt-4">Discord</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://starmoon.bandcamp.com/"
			>
				<img class="w-14" src={bandcamp} alt="" />
				<span class="mt-4">Bandcamp</span>
			</a>
		</li>
	</ul>
</section>

<section class="flex h-[850px] justify-center text-left sm:h-auto sm:max-h-[850px]">
	<Chat />
</section>

<div class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:!grid-cols-3">
	{#each data.releases as release (release.catalogNumber)}
		<Release {release} />
	{/each}
</div>
