<script lang="ts">
	export let responses: { id: number; question: string }[];
	export let selectResponse: (id: number) => void;
</script>

<ul class="flex flex-col gap-1 overflow-visible">
	{#each responses as response}
		<li class="overflow-visible">
			<button
				on:click={() => selectResponse(response.id)}
				class="w-full rounded-lg border border-themeAlt p-2 text-left transition-transform hover:scale-105"
				>{response.question}</button
			>
		</li>
	{/each}
</ul>
