<script lang="ts">
	import Release from '../../discography/Release.svelte';
	import type { PageData } from './$types.js';
	import banner from '$lib/assets/psiangel-banner.svg';
	import Socials from './socials.svelte';
	import harmonics from '$lib/assets/psiangel/harmonics.webp';
	import blood from '$lib/assets/psiangel/blood.webp';
	import Marquee from 'svelte-fast-marquee';
	import SvelteSeo from 'svelte-seo';

	export let data: PageData;

	let description =
		'my name is sasha and I am a producer and amateur dj from new york city. i am 9 years old. my genres usually include breakcore, dnb, mashcore, ambient, idm, h...';
</script>

<SvelteSeo
	title="psiangel | CordFuck"
	canonical="https://cordfuck.com/artists/psiangel"
	{description}
	openGraph={{
		title: 'psiangel | CordFuck',
		url: 'https://cordfuck.com/artists/psiangel',
		description: description,
		image: 'https://cordfuck.com/ogimages/psi.webp',
		images: [
			{
				url: 'https://cordfuck.com/ogimages/psi.webp',
				width: 1200,
				height: 630,
				alt: ''
			}
		],
		type: 'profile'
	}}
	twitter={{
		title: 'psiangel | CordFuck',
		description: description,
		image: `https://cordfuck.com/ogimages/psi.webp`,
		imageAlt: ''
	}}
/>

<h2 class="mb-6">
	<Marquee speed={200}><img class="max-w-[50%]" src={banner} alt="psiangel" /></Marquee>
</h2>

<section class="mb-4 flex flex-col gap-2 md:flex-row">
	<div class="grow md:basis-0">
		<h3 class="text-2xl font-semibold tracking-tight">Check out my latest release!</h3>
		<Release release={data.releases[0]} />
	</div>
	<div class="grow p-2 md:mt-11 md:basis-0">
		<Socials />
	</div>
</section>
<section class="overflow-visible text-left">
	<img class="float-left m-2 hidden sm:block sm:max-w-[35%]" src={harmonics} alt="" />
	<p>
		my name is sasha and I am a producer and amateur dj from new york city. i am 9 years old. my
		genres usually include breakcore, dnb, mashcore, ambient, idm, happy hardcore, techno and
		hardstyle but i also do witch house, cloud rap, trap, posthardcore, midwest emo, slam metal, and
		doom metal, which i release through my other projects. I own <a
			href="https://evilwindows.bandcamp.com/">Evil Windows</a
		>. <img class="float-right m-2 h-64 max-w-[20%] sm:max-w-[15%]" src={blood} alt="" />
		i was formerly called sugnoma before i changed the name to psiangel. i dont believe that art should
		be paywalled so all my songs can be downloaded for free on
		<a href="https://psiangel.bandcamp.com/">my bandcamp</a>, cordfuck, or on
		<a href="https://archive.org/search?query=psiangel">archive.org</a> if it is on there. All my work
		is also under creative commons BY-SA, so do whatever you want with&nbsp;it.
	</p>
	<p>
		for business inquiries or booking, my email is <a href="mailto:sugnoma3@gmail.com"
			>sugnoma3@gmail.com</a
		>
		sugnoma3@gmail.com so contact me there. if you have another reason to contact me or don't want to
		email, you can use my twitter <a href="https://twitter.com/psiangell">@psiangell</a>.
	</p>
</section>

<h3 class="ml-2 text-left text-2xl font-semibold tracking-tight">My music</h3>
<section class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:!grid-cols-3">
	{#each data.releases as release (release.catalogNumber)}
		<Release {release} />
	{/each}
</section>

<style lang="postcss">
	p {
		@apply my-2 ml-2 overflow-visible;
	}
</style>
