<script lang="ts">
	import soundcloud from '$lib/assets/soundcloud.svg';
	import youtube from '$lib/assets/youtube.svg';
	import google from '$lib/assets/google.svg';
	import twitter from '$lib/assets/twitter.svg';
	import bandcamp from '$lib/assets/bandcamp.svg';
	import googleJoke from '$lib/assets/psiangel/google.jpg';
</script>

<ul class="text-3xl font-semibold">
	<li class="text-left">
		<a
			href="https://twitter.com/psiangell"
			target="_blank"
			rel="noreferrer"
			class="flex items-center gap-2 no-underline"
		>
			<img class="w-16" src={twitter} alt="" />
			<span class="overflow-visible">Twitter</span>
		</a>
	</li>
	<li class="text-right">
		<a
			href="https://psiangel.bandcamp.com/"
			target="_blank"
			rel="noreferrer"
			class="flex items-center justify-end gap-2 no-underline"
		>
			<span class="overflow-visible">Bandcamp</span>
			<img class="w-16" src={bandcamp} alt="" />
		</a>
	</li>
	<li class="text-left">
		<a
			href="https://soundcloud.com/psiangel"
			target="_blank"
			rel="noreferrer"
			class="flex items-center gap-2 no-underline"
		>
			<img class="w-16" src={soundcloud} alt="" />
			<span class="overflow-visible">Soundcloud</span>
		</a>
	</li>
	<li class="text-right">
		<a
			href="https://www.youtube.com/channel/UCM2oz2MnODvTB3IFSNoI9Vg"
			target="_blank"
			rel="noreferrer"
			class="flex items-center justify-end gap-2 no-underline"
		>
			<span class="overflow-visible">YouTube</span>
			<img class="w-16" src={youtube} alt="" />
		</a>
	</li>
	<li class="text-left">
		<a
			href={googleJoke}
			target="_blank"
			rel="noreferrer"
			class="flex items-center gap-2 no-underline"
		>
			<img class="w-16" src={google} alt="" />
			<span class="overflow-visible">Google+</span>
		</a>
	</li>
</ul>
