<script lang="ts">
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="API | CordFuck"
	canonical="https://cordfuck.com/api"
	openGraph={{
		title: 'API | CordFuck',
		url: 'https://cordfuck.com/api',
		type: 'website'
	}}
	twitter={{
		title: 'API | CordFuck'
	}}
/>

<p>This API is unstable and subject to change without any notice.</p>

<h2><code><span class="get-http">GET</span> /api/discography.json</code></h2>
<p>
	All CordFuck Releases sorted from latest to oldest. Returns an array of the following unless using
	the <i>cat</i> parameter, where it will just return one plain object.
</p>

<table>
	<tr><th>Name</th><th>Type</th></tr>
	<tr><td>catalogNumber</td><td>string</td></tr>
	<tr><td>artist</td><td>string</td></tr>
	<tr><td>title</td><td>string</td></tr>
	<tr><td>review</td><td>string | undefined</td></tr>
	<tr><td>reviewAuthor</td><td>string | undefined</td></tr>
	<tr><td>description</td><td>string | undefined</td></tr>
	<tr><td>date</td><td>Date</td></tr>
	<tr><td>coverArtUrl</td><td>URL</td></tr>
	<tr><td>downloadUrl</td><td>URL</td></tr>
	<tr><td>songs</td><td>[songs]</td></tr>
</table>
<h3>Songs</h3>
<table>
	<tr><th>Name</th><th>Type</th></tr>
	<tr><td>trackNumber</td><td>number</td></tr>
	<tr><td>artist</td><td>string</td></tr>
	<tr><td>title</td><td>string</td></tr>
	<tr><td>downloadUrl</td><td>URL</td></tr>
</table>
<h3>Query Parameters</h3>
<table>
	<tr>
		<th>Parameter</th>
		<th>Type</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>?cat</td>
		<td>string</td>
		<td>Search for a specific catalog number and only return that release.</td>
	</tr>
</table>

<style lang="postcss">
	.get-http {
		@apply text-blue-500;
	}
</style>
