<script lang="ts">
	import type { Product } from '$lib/types.js';
	import { cart } from '../../../store.js';

	export let cartItem: { product: Product };

	const formatter = new Intl.NumberFormat('en-US', {
		style: 'currency',
		currency: 'USD'
	});

	const numberAsCurrency = (number: number) => {
		return formatter.format(number);
	};
</script>

{#if cartItem.product !== undefined}
	<li
		class="group relative flex w-full flex-col items-center pb-2 text-center sm:flex-row sm:items-start sm:gap-4 sm:text-left"
	>
		<div class="flex aspect-square h-28 min-h-0 min-w-0 shrink-0 items-center justify-center">
			<img
				loading="lazy"
				class="max-h-full max-w-full rounded object-cover"
				src={cartItem.product.pictureUrl.toString()}
				alt=""
			/>
		</div>
		<div class="shrink">
			<h3 class="text-md text-xl font-semibold tracking-tight">{cartItem.product.name}</h3>
			<small class="text-xs">{cartItem.product.description}</small>
		</div>
		<div
			class="flex items-center justify-between gap-4 overflow-visible sm:ml-auto sm:flex-col sm:self-stretch"
		>
			<button
				on:click={() => cart.removeProduct(cartItem.product)}
				type="button"
				class="absolute left-0 top-0 h-min fill-textColor group-hover:opacity-100 hover:fill-theme sm:static sm:self-end sm:opacity-0"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"
					><path fill="none" d="M0 0h24v24H0z" /><path
						d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
					/></svg
				>
			</button>
			<div
				class="flex flex-col items-center justify-center gap-1 self-end text-lg font-semibold sm:text-xl"
			>
				<span>{numberAsCurrency(cartItem.product.price)}</span>
			</div>
		</div>
	</li>
	<hr />
{/if}
