<script lang="ts">
	import CartItem from './CartItem.svelte';
	import { fade } from 'svelte/transition';
	import { cart } from '../../../store.js';
</script>

<ul class="col-start-1 row-start-1 overflow-visible" transition:fade>
	{#if $cart.length === 0}
		<p>Nothing in your cart. <a href="/shop">Let's change that!</a></p>
	{/if}
	{#each $cart as cartItem}
		<CartItem {cartItem} />
	{/each}
</ul>
