<script lang="ts">
	import { fade } from 'svelte/transition';
	import CartItems from './CartItems.svelte';
	import { checkoutState } from '../../../store.js';
	import arrowRight from '$lib/assets/arrow-right.svg';
	import arrowLeft from '$lib/assets/arrow-left-line.svg';
</script>

<div class="col-start-1 row-start-1 grow overflow-visible">
	<div class="flex flex-col items-center justify-between gap-4 sm:flex-row sm:gap-0">
		<button on:click={$checkoutState.decrementStage} class="flex items-center justify-center gap-1"
			><img class="h-8" src={arrowLeft} alt="" /><span class="text-lg">Back</span></button
		>
		<div class="flex items-center justify-center gap-2 font-semibold">
			<span class:text-textOff={$checkoutState.stage.kind !== 'Cart'}>Cart</span>
			<img src={arrowRight} alt="" />
			<span class:text-textOff={$checkoutState.stage.kind !== 'ShippingState'}>Shipping</span>
			<img src={arrowRight} alt="" />
			<span class:text-textOff={$checkoutState.stage.kind !== 'PaymentState'}>Payment</span>
		</div>
	</div>
	<hr class="my-4" />
	<div class="grid grow grid-cols-1 grid-rows-1 overflow-visible text-left" transition:fade>
		<CartItems />
	</div>
</div>
