<script lang="ts">
	import CartPanel from './CartPanel.svelte';
	import Checkout from './Checkout/Checkout.svelte';
	import { cart } from '../../store.js';
	import { onMount } from 'svelte';
	import SvelteSeo from 'svelte-seo';

	onMount(() => {
		cart.refresh();
	});
</script>

<SvelteSeo
	title="Cart | CordFuck"
	canonical="https://cordfuck.com/cart"
	openGraph={{
		title: 'Cart | CordFuck',
		url: 'https://cordfuck.com/cart',
		type: 'website'
	}}
	twitter={{
		title: 'Cart | CordFuck'
	}}
/>

<div class="grid grid-cols-1 grid-rows-1 overflow-visible">
	<div
		class="col-start-1 row-start-1 flex flex-col justify-center gap-4 overflow-visible md:flex-row"
	>
		<Checkout />
		<CartPanel />
	</div>
</div>
