<script lang="ts">
	import CartPanelTable from './CartPanelTable.svelte';

	import { fly, fade } from 'svelte/transition';
	import { checkoutState, cart } from '../../store.js';
	import loader from '$lib/assets/loader.svg';
	import { onMount } from 'svelte';

	let loading = false;
	const paymentDone = (successful: boolean) => {
		if (successful) {
			$checkoutState.stage = {
				kind: 'Done'
			};
		}
		loading = false;
	};

	const shippingDone = (successful: boolean) => {
		if (successful) {
			$checkoutState.stage = {
				kind: 'PaymentState',
				submissionRequested: false,
				paymentDoneCallback: paymentDone
			};
		}
		loading = false;
	};

	const incrementStage = () => {
		if ($checkoutState.stage.kind === 'Cart') {
			$checkoutState.stage = {
				kind: 'ShippingState',
				submissionRequested: false,
				shippingDoneCallback: shippingDone
			};
		} else if ($checkoutState.stage.kind === 'ShippingState') {
			loading = true;
			$checkoutState.stage.submissionRequested = true;
		} else if ($checkoutState.stage.kind === 'PaymentState') {
			loading = true;
			$checkoutState.stage.submissionRequested = true;
		}
	};
	const decrementStage = () => {
		if ($checkoutState.stage.kind === 'ShippingState') {
			loading = false;
			$checkoutState.stage = {
				kind: 'Cart'
			};
		} else if ($checkoutState.stage.kind === 'PaymentState') {
			loading = false;
			$checkoutState.stage = {
				kind: 'ShippingState',
				submissionRequested: false,
				shippingDoneCallback: shippingDone
			};
			$checkoutState.shippingForm = undefined;
		}
	};

	let maxEstimatedDays: string | undefined = undefined;
	$: maxEstimatedDays = (() => {
		if ($checkoutState.ratePreview?.rates.length === 0) {
			return undefined;
		}
		let days: number[] = [];
		$checkoutState.ratePreview?.rates.forEach((rate) => {
			if (rate.estimatedDays !== undefined) {
				days = [...days, rate.estimatedDays];
			}
		});

		return (
			(days.length >= 2 ? Math.min(...days).toString() + ' - ' : '') + Math.max(...days)
		).toString();
	})();

	onMount(() => {
		$checkoutState.decrementStage = decrementStage;
	});
</script>

<ul
	class="order-first flex w-full shrink-0 flex-col gap-2 md:order-last md:w-2/5"
	id="checkout-panel"
>
	<CartPanelTable />
	<hr />
	<button
		on:click={incrementStage}
		disabled={$cart.length === 0}
		class="btn grid w-full grid-cols-1 grid-rows-1 overflow-hidden text-base"
	>
		{#if loading}
			<div
				out:fly={{ x: -200, duration: 500 }}
				in:fly={{ x: 200, duration: 500 }}
				class="col-start-1 row-start-1 flex w-full animate-spin items-center justify-center"
			>
				<img class="h-6" src={loader} alt="loading" />
			</div>
		{:else if $checkoutState.stage.kind !== 'PaymentState'}
			<div
				class="col-start-1 row-start-1"
				out:fly={{ x: -200, duration: 500 }}
				in:fly={{ x: 200, duration: 500 }}
			>
				Continue
			</div>
		{:else if $checkoutState.stage.kind === 'PaymentState'}
			<div class="col-start-1 row-start-1" in:fly={{ x: 200, duration: 500 }}>Confirm</div>
		{/if}
	</button>
	{#if $checkoutState.ratePreview}
		<small transition:fade>
			{#if maxEstimatedDays !== undefined}
				Estimated {maxEstimatedDays} days to arrive.
			{/if}
		</small>
		<small>Ships out within 16 days.</small>
	{/if}
</ul>
