<script lang="ts">
	import { checkoutState, cart, tip } from '../../store.js';

	let subtotal = 0;
	let shippingCost = 0;
	let handling = 0;
	let tipCalculated = 0;

	$: subtotal = $cart.reduce((partialSum, x) => {
		return partialSum + x.product.price;
	}, 0);
	$: shippingCost = $checkoutState.ratePreview?.totalCost ?? 0;
	$: tipCalculated = $tip === '20%' ? (20 / 100) * subtotal : $tip;
	$: handling = (3.49 / 100) * (subtotal + shippingCost) + 0.49;

	const formatter = new Intl.NumberFormat('en-US', {
		style: 'currency',
		currency: 'USD'
	});

	const numberAsCurrency = (number: number) => {
		return formatter.format(number);
	};
</script>

{#if $cart.length === 0}
	<li class="flex items-center justify-between gap-8 overflow-visible text-sm">
		<div class="flex items-center gap-2 overflow-hidden text-ellipsis whitespace-nowrap text-left">
			<span class="overflow-hidden overflow-ellipsis whitespace-nowrap">Nothing in cart</span>
		</div>
	</li>
{/if}
{#each $cart as item}
	<li class="flex items-center justify-between gap-8 overflow-visible text-sm">
		<div class="flex items-center gap-2 overflow-hidden text-ellipsis whitespace-nowrap text-left">
			<span class="overflow-hidden overflow-ellipsis whitespace-nowrap">{item.product.name}</span>
		</div>
		<span class="overflow-visible">{numberAsCurrency(item.product.price)}</span>
	</li>
{/each}
<hr />
<li class="flex items-center justify-between gap-8 overflow-visible text-sm">
	<span class="overflow-hidden text-ellipsis whitespace-nowrap text-left">Subtotal</span><span
		>{numberAsCurrency(subtotal)}</span
	>
</li>
<li class="flex items-center justify-between gap-8 overflow-visible text-sm">
	<span class="overflow-hidden text-ellipsis whitespace-nowrap text-left">Shipping</span><span>
		{#if $checkoutState.ratePreview !== undefined}
			{numberAsCurrency(shippingCost)}
		{:else}
			<span class="text-right text-xs">Determined before paying</span>
		{/if}
	</span>
</li>
{#if $checkoutState.shippingForm && $checkoutState.shippingForm?.country !== 'US'}
	<small>You may be subject to extra import taxes from your country's postal system</small>
{/if}
{#if $tip !== 0}
	<li class="flex items-center justify-between gap-8 overflow-visible text-sm">
		<span class="overflow-hidden text-ellipsis whitespace-nowrap text-left">Tip</span><span
			>{numberAsCurrency(tipCalculated)}</span
		>
	</li>
{/if}
{#if $checkoutState.stage.kind === 'PaymentState'}
	<li class="flex items-center justify-between gap-8 overflow-visible text-sm">
		<span class="overflow-hidden text-ellipsis whitespace-nowrap text-left">Payment fee</span><span
			>{numberAsCurrency(handling)}</span
		>
	</li>
{/if}
<li
	class="flex items-center justify-between gap-8 overflow-visible text-2xl font-semibold tracking-tight"
>
	<span class="overflow-hidden text-ellipsis whitespace-nowrap text-left">Total</span><span
		>{numberAsCurrency(
			subtotal +
				shippingCost +
				tipCalculated +
				($checkoutState.stage.kind === 'PaymentState' ? handling : 0)
		)}</span
	>
</li>
