<script lang="ts">
	import heading from '$lib/assets/GFFheading.svg';
	import cover2 from '$lib/assets/gffcover.webp';
	import cover1 from '$lib/assets/gff.webp';
	import Socials from './socials.svelte';

	import Release from '../../discography/Release.svelte';
	import type { PageData } from './$types.js';
	import SvelteSeo from 'svelte-seo';

	export let data: PageData;

	const description =
		'Guns for Frogs is the brainchild of Nero White, a musical journey that effortlessly fuses the genres of breakcore, hardcore, chiptune, and metalcore.';
</script>

<SvelteSeo
	title="Guns For Frogs | CordFuck"
	canonical="https://cordfuck.com/artists/gff"
	{description}
	openGraph={{
		title: 'Guns For Frogs | CordFuck',
		url: 'https://cordfuck.com/artists/gff',
		description: description,
		image: `https://cordfuck.com/ogimages/gff.webp`,
		images: [
			{
				url: 'https://cordfuck.com/ogimages/gff.webp',
				width: 1200,
				height: 630,
				alt: ''
			}
		],
		type: 'profile'
	}}
	twitter={{
		title: 'Guns For Frogs | CordFuck',
		description: description,
		image: `https://cordfuck.com/ogimages/gff.webp`,
		imageAlt: ''
	}}
/>

<h2><img src={heading} alt="Guns For Frogs" /></h2>

<section class="hidden grid-cols-[1fr_auto_1fr] content-center justify-center md:grid">
	<div class="flex items-center justify-center p-8">
		<img src={cover1} alt="" />
	</div>
	<div class="grid place-items-center">
		<div
			class="col-start-1 row-start-1 h-full w-2 bg-[linear-gradient(transparent,#940606_3rem)]"
		/>
		<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
	</div>
	<div class="flex flex-col items-center justify-center gap-4 p-8 text-left">
		<p>
			Guns for Frogs is the brainchild of Nero White, a musical journey that effortlessly fuses the
			genres of breakcore, hardcore, chiptune, and metalcore. Brace yourself, as Guns for Frogs will
			take you on a rollercoaster ride of emotions, leaving you both in stitches, and on the verge
			of tears, all while making your head bang uncontrollably!
		</p>
		<p>
			Imagine Guns for Frogs as the sonic equivalent of the very bullet that once pierced John
			Lennon, or even the mischievous chimp that triggered Chimpcon 1. Prepare to be whisked away
			into a world of lightning-fast rhythms, intense ferocity, intricate melodies, and an utterly
			captivating musical experience!
		</p>
		<Socials />
	</div>
	<div class="flex flex-col items-center justify-center gap-4 p-8 text-left">
		<p>
			Nero White embarked on a musical journey at the tender age of 8, and over the years, has
			ventured into various creative personas. However, it was with the release of the audaciously
			titled "Master-Pieces Of Shit" EP that Nero found a musical identity in Guns for Frogs, their
			definitive alter ego.
		</p>
		<p>
			The unveiling of "Fool for a Day, King for a Lifetime" marks a momentous debut, now under the
			banner of the CordFuck record label. This album, in particular, resonates deeply with Nero,
			transcending mere music to become a profoundly personal project. Among its heartfelt tracks,
			"House of 1000 Frogs" stands out, a touching tribute to a departed friend who holds a special
			place in Nero's heart.
		</p>
	</div>
	<div class="grid place-items-center">
		<div class="col-start-1 row-start-1 h-full w-2 bg-theme" />
		<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
	</div>
	<div class="flex items-center justify-center p-8">
		<img src={cover2} alt="" />
	</div>
	<div class="flex items-center justify-center p-8">
		<img
			src="https://media.cordfuck.com/releases/Guns%20For%20Frogs%20-%20fool%20for%20a%20day%2C%20king%20for%20a%20lifetime/cover.webp"
			alt=""
		/>
	</div>
	<div class="grid place-items-center">
		<div class="col-start-1 row-start-1 h-full w-2 bg-theme" />
		<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
	</div>
	<div class="flex flex-col items-center justify-center gap-4 p-8 text-left">
		<p>
			The genesis of this musical odyssey began with "Rapidly Decaying Sunlit Flowers" the first
			composition to take shape for this release. In its wake, Nero underwent a transformative
			journey of self-discovery, unearthing a sound that authentically embodies their autistic
			essence.
		</p>
		<p>
			With aspirations to turn their passion for music into a lifelong career, Nero is committed to
			honing their craft and evolving as an artist. As of this moment, Nero is diligently conjuring
			up something mysterious, promising an eagerly awaited sonic experience in the near future. SO
			STAY TUNED MOTHERFUCKERS
		</p>
	</div>
</section>

<section class="md:hidden">
	<div class="flex justify-center">
		<div class="h-24 w-2 bg-[linear-gradient(transparent,#940606_3rem)]" />
	</div>

	<div class="grid grid-cols-1 gap-8">
		<div class="col-start-1 row-start-1 grid place-items-center">
			<div class="col-start-1 row-start-1 ml-auto h-2 w-1/2 rounded-bl rounded-tr bg-theme" />
			<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
		</div>
		<div class="col-start-1 row-start-1 row-end-5 mb-8 mt-8 justify-self-end rounded-br rounded-tr">
			<div class="h-full w-2 bg-theme" />
		</div>
		<div class="col-start-1 row-start-2 flex items-center justify-center p-8 py-0">
			<img src={cover1} alt="" />
		</div>
		<div
			class="col-start-1 row-start-3 flex flex-col items-center justify-center gap-4 p-8 py-0 text-left"
		>
			<p>
				Guns for Frogs is the brainchild of Nero White, a musical journey that effortlessly fuses
				the genres of breakcore, hardcore, chiptune, and metalcore. Brace yourself, as Guns for
				Frogs will take you on a rollercoaster ride of emotions, leaving you both in stitches, and
				on the verge of tears, all while making your head bang uncontrollably!
			</p>
			<p>
				Imagine Guns for Frogs as the sonic equivalent of the very bullet that once pierced John
				Lennon, or even the mischievous chimp that triggered Chimpcon 1. Prepare to be whisked away
				into a world of lightning-fast rhythms, intense ferocity, intricate melodies, and an utterly
				captivating musical experience!
			</p>
			<Socials />
		</div>
		<div class="col-start-1 row-start-4 grid place-items-center">
			<div class="col-start-1 row-start-1 h-2 w-full rounded-br rounded-tl bg-theme" />
			<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
		</div>
		<div class="col-start-1 row-start-4 row-end-[8] mb-8 mt-8 justify-self-start rounded-bl">
			<div class="h-full w-2 bg-theme" />
		</div>
		<div class="col-start-1 row-start-5 flex items-center justify-center p-8 py-0">
			<img src={cover2} alt="" />
		</div>
		<div
			class="col-start-1 row-start-6 flex flex-col items-center justify-center gap-4 p-8 py-0 text-left"
		>
			<p>
				Nero White embarked on a musical journey at the tender age of 8, and over the years, has
				ventured into various creative personas. However, it was with the release of the audaciously
				titled "Master-Pieces Of Shit" EP that Nero found a musical identity in Guns for Frogs,
				their definitive alter ego.
			</p>
			<p>
				The unveiling of "Fool for a Day, King for a Lifetime" marks a momentous debut, now under
				the banner of the CordFuck record label. This album, in particular, resonates deeply with
				Nero, transcending mere music to become a profoundly personal project. Among its heartfelt
				tracks, "House of 1000 Frogs" stands out, a touching tribute to a departed friend who holds
				a special place in Nero's heart.
			</p>
		</div>
		<div class="col-start-1 row-start-7 grid place-items-center">
			<div class="col-start-1 row-start-1 h-2 w-full rounded-bl rounded-tr bg-theme" />
			<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
		</div>
		<div class="col-start-1 row-start-7 row-end-[11] mb-8 mt-8 justify-self-end rounded-br">
			<div class="h-full w-2 bg-theme" />
		</div>
		<div class="col-start-1 row-start-[8] flex items-center justify-center p-8 py-0">
			<img
				src="https://media.cordfuck.com/releases/Guns%20For%20Frogs%20-%20fool%20for%20a%20day%2C%20king%20for%20a%20lifetime/cover.webp"
				alt=""
			/>
		</div>
		<div
			class="col-start-1 row-start-[9] flex flex-col items-center justify-center gap-4 p-8 py-0 text-left"
		>
			<p>
				The genesis of this musical odyssey began with "Rapidly Decaying Sunlit Flowers" the first
				composition to take shape for this release. In its wake, Nero underwent a transformative
				journey of self-discovery, unearthing a sound that authentically embodies their autistic
				essence.
			</p>
			<p>
				With aspirations to turn their passion for music into a lifelong career, Nero is committed
				to honing their craft and evolving as an artist. As of this moment, Nero is diligently
				conjuring up something mysterious, promising an eagerly awaited sonic experience in the near
				future. SO STAY TUNED MOTHERFUCKERS
			</p>
		</div>
		<div class="col-start-1 row-start-[10] grid place-items-center">
			<div class="col-start-1 row-start-1 ml-auto h-2 w-1/2 rounded-br bg-theme" />
			<div class="col-start-1 row-start-1 h-16 w-16 rounded-full bg-theme" />
		</div>
	</div>

	<div class="-mt-1 flex justify-center">
		<div class="h-24 w-2 bg-theme" />
	</div>
</section>

<section
	class="grid grid-cols-1 gap-2 rounded-xl border-[0.5rem] border-theme p-4 sm:grid-cols-2 md:!grid-cols-3"
>
	{#each data.releases as release (release.catalogNumber)}
		<Release {release} />
	{/each}
</section>
