<script lang="ts">
	import twitter from '$lib/assets/twitter.svg';
	import bandcamp from '$lib/assets/bandcamp.svg';
	import instagram from '$lib/assets/instagram.svg';
	import spotify from '$lib/assets/spotify.svg';
</script>

<ul class="flex w-full flex-wrap items-center justify-evenly">
	<li>
		<a target="_blank" rel="noreferrer" href="https://gunsforfrogs.bandcamp.com/">
			<img class="w-14" src={bandcamp} alt="Bandcamp" />
		</a>
	</li>
	<li>
		<a target="_blank" rel="noreferrer" href="https://x.com/gunsforfrogshq">
			<img class="w-16" src={twitter} alt="Twitter" />
		</a>
	</li>
	<li>
		<a target="_blank" rel="noreferrer" href="https://www.instagram.com/gunsforfrogshq">
			<img class="w-14" src={instagram} alt="Instagram" />
		</a>
	</li>
	<li>
		<a
			target="_blank"
			rel="noreferrer"
			href="https://open.spotify.com/artist/4wsgkOQyaMrUeZIZHeXk7S?si=pyLZM4OJRiqAKKYXz8qtIg&nd=1"
		>
			<img class="w-14" src={spotify} alt="Spotify" />
		</a>
	</li>
</ul>
