<script lang="ts">
	import Release from '../../discography/Release.svelte';
	import type { PageData } from './$types.js';
	import character1 from '$lib/assets/chainsawknight/character1.webp';
	import character2 from '$lib/assets/chainsawknight/character2.webp';
	import twitter from '$lib/assets/twitter.svg';
	import soundcloud from '$lib/assets/soundcloud.svg';
	import spotify from '$lib/assets/spotify.svg';
	import youtube from '$lib/assets/youtube.svg';
	import SvelteSeo from 'svelte-seo';
	import constructionChan from '$lib/assets/constructionchan.webp';

	export let data: PageData;

	const description =
		"What's up cats and puppydogs? It's me, your virtual break-chopping friend CHAINSAWKNIGHT over here repping the CordFuck crew, and I'm...";
</script>

<SvelteSeo
	title="CHAINSAWKNIGHT | CordFuck"
	canonical="https://cordfuck.com/artists/chainsawknight"
	{description}
	openGraph={{
		title: 'CHAINSAWKNIGHT | CordFuck',
		url: 'https://cordfuck.com/artists/chainsaswknight',
		description: description,
		image: `https://cordfuck.com/ogimages/chainsawknight.webp`,
		images: [
			{
				url: 'https://cordfuck.com/ogimages/chainsawknight.webp',
				width: 1200,
				height: 630,
				alt: ''
			}
		],
		type: 'profile'
	}}
	twitter={{
		title: 'CHAINSAWKNIGHT | CordFuck',
		description: description,
		image: `https://cordfuck.com/ogimages/chainsawknight.webp`,
		imageAlt: ''
	}}
/>

<section>
	<div class="mb-4 flex flex-col items-center gap-4 text-left md:-mb-4 md:flex-row">
		<img
			src={character2}
			class="min-w-[33%] max-w-xs shrink-0 sm:hidden md:block md:w-1/3 md:max-w-none"
			alt=""
		/>
		<p>
			<img src={character2} class="float-left hidden w-1/3 sm:inline md:hidden" alt="" />
			What's up cats and puppydogs? It's me, your virtual break-chopping friend CHAINSAWKNIGHT over here
			repping the CordFuck crew, and I'm excited to let ya'll know that I'm here to stay! If you need
			that hard jungle fix, but you're tired of the generic brands, I've got what you need right here,
			and I'm open 24/7! I know what it feels like to be right on the edge of scratching that itch, but
			not quite being able to get there because the sound lacks what you need, and that's why I do what
			I do!
		</p>
	</div>
	<div class="items-center gap-4 text-left md:flex">
		<p class="overflow-visible">
			It's my mission as your music friend to try and make those bangers that only exist in our
			heads come to life so we can finally achieve the grooves we crave, <img
				src={character1}
				class="float-right inline w-1/2 max-w-[10rem] shrink-0 md:hidden"
				alt=""
			/> so don't be shy, come along for a ride and see how much fun a trip through my colorful world
			can be! You only live once, so let me show you what the power of upbeat music on the best label
			around can do for you!
		</p>
		<img src={character1} class="hidden w-1/4 shrink-0 md:block" alt="" />
	</div>
</section>
<section>
	<ul class="flex flex-wrap justify-center gap-4 text-xl font-medium">
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://x.com/_ChainsawKnight"
			>
				<img class="w-16" src={twitter} alt="" />
				<span class="mt-4">Twitter</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-2 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://soundcloud.com/chainsawknight"
			>
				<img class="-mt-2 w-16" src={soundcloud} alt="" />
				<span class="mt-4">Soundcloud</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://open.spotify.com/artist/4QgjJrQiAEQAXL3YrhaYHj?si=LmTu7SqDRDqVwlx6Tu6xqg"
			>
				<img class="w-14" src={spotify} alt="" />
				<span class="mt-4">Spotify</span>
			</a>
		</li>
		<li>
			<a
				class="flex gap-1 no-underline hover:text-textColor active:text-textColor"
				target="_blank"
				rel="noreferrer"
				href="https://www.youtube.com/@_chainsawknight"
			>
				<img class="w-14" src={youtube} alt="" />
				<span class="mt-4">YouTube</span>
			</a>
		</li>
	</ul>
</section>
<section class="mt-8 flex flex-col-reverse items-center justify-center gap-6 sm:flex-row sm:gap-0">
	<h2>
		<img class="max-w-[9rem] sm:max-w-[11rem]" src={constructionChan} alt="Under construction" />
	</h2>
	<p class="text-lg font-medium sm:max-w-[40%]">
		This page is only partially complete. More coming soon!
	</p>
</section>

<section class="grid grid-cols-1 gap-2 sm:grid-cols-2 md:!grid-cols-3">
	{#each data.releases as release (release.catalogNumber)}
		<Release {release} />
	{/each}
</section>
