<script lang="ts">
	export let url: string;
	export let image: string;
	export let name: string;
	export let description: string;

	let height;
</script>

<a
	href={url}
	class="relative flex aspect-square h-full w-full max-w-full items-end justify-end overflow-hidden rounded bg-cover bg-no-repeat p-2 no-underline hover:text-textColor active:text-textColor"
	style="background-image: url({image});"
	bind:clientHeight={height}
>
	<div
		class="absolute -inset-1 top-1 flex h-[200%] flex-col justify-end transition-transform duration-200 ease-in-out hover:-translate-y-1/2"
		style="background: linear-gradient(to top, rgba(0,0,0,1) 45%, rgba(255,255,255,0) 65%,rgba(255,255,255,0) 100%,rgba(255,255,255,0) 75%);"
	>
		<p class="z-10 p-4 pb-[-5rem] text-right text-2xl font-bold tracking-tight">{name}</p>
		<div class="h-1/2 p-4 pt-2">
			<p class="text-left leading-7">
				{description}
			</p>
		</div>
	</div>
</a>
