<script lang="ts">
	import Artist from './artist.svelte';
	import gff from '$lib/assets/gff.webp';
	import emm from '$lib/assets/emmcare.webp';
	import starmoon from '$lib/assets/starmoon.webp';
	import csk from '$lib/assets/chainsawknight/chainsawknight.webp';
	import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo
	title="Artists | CordFuck"
	canonical="https://cordfuck.com/artists"
	openGraph={{
		title: 'Artists | CordFuck',
		url: 'https://cordfuck.com/artists',
		type: 'website'
	}}
	twitter={{
		title: 'Artists | CordFuck'
	}}
/>

<div class="flex flex-col gap-4">
	<!-- <div class="grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));">
		<Artist
			url="/artists/gff"
			name="Guns For Frogs"
			image={gff}
			description="Guns for Frogs is the brainchild of Nero White, a musical journey that effortlessly fuses the
			genres of breakcore, hardcore, chiptune, and metalcore. Brace yourself, as Guns for Frogs will take you on a rollercoaster ride of emotions, leaving you both in..."
		/>
		<Artist
			url="/artists/psiangel"
			name="psiangel"
			image={psi}
			description="my name is sasha and I am a producer and amateur dj from new york city. i am 9 years old. my
			genres usually include breakcore, dnb, mashcore, ambient, idm, happy hardcore, techno and
			hardstyle but i also do..."
		/>
		<Artist
			url="/artists/starmoon"
			name="Starmoon"
			image={starmoon}
			description="I'm a Brazilian artist that is a huge fan of non biney girlboys. I make the gay music you might or might not have heard before, if..."
		/>
	</div> -->
	<div class="grid gap-4" style="grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));">
		<Artist
			url="/artists/emmcare"
			name="emmcare"
			image={emm}
			description="Emmcare, colloquially known as Emm, is a landmark U.S. federal project which aimed to provide
			easily accessible healthcare to all Americans. Much of the information on..."
		/>
		<Artist
			url="/artists/chainsawknight"
			name="CHAINSAWKNIGHT"
			image={csk}
			description="What's up cats and puppydogs? It's me, your virtual break-chopping friend CHAINSAWKNIGHT over here repping the CordFuck crew, and I'm..."
		/>
		<div />
	</div>
</div>
