<script lang="ts">
	import SvelteSeo from 'svelte-seo';
	import Optout from './optout.svelte';
</script>

<SvelteSeo
	title="Privacy Policy | CordFuck"
	canonical="https://cordfuck.com/privacy"
	openGraph={{
		title: 'Privacy Policy | CordFuck',
		url: 'https://cordfuck.com/privacy',
		type: 'website'
	}}
	twitter={{
		title: 'Privacy Policy | CordFuck'
	}}
/>

<h2>PRIVACY NOTICE</h2>

<p><strong>Last updated February 15th, 2023</strong></p>

<ul>
	<p>
		This privacy notice for CordFuck ("Company," "we," "us," or "our"), describes how and why we
		might collect, store, use, and/or share ("process") your information when you use our services
		("Services"), such as when you:
	</p>
	<li>
		Visit our website at <a href="https://cordfuck.com/">https://cordfuck.com/</a>, or any website
		of ours that links to this privacy notice
	</li>
	<li>Engage with us in other related ways, including any sales, marketing, or events</li>
</ul>
<p>
	<strong>Questions or concerns?</strong> Reading this privacy notice will help you understand your
	privacy rights and choices. If you do not agree with our policies and practices, please do not use
	our Services. If you still have any questions or concerns, please contact us at
	<a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>.
</p>
<h3>SUMMARY OF KEY POINTS</h3>
<p>
	<strong
		>This summary provides key points from our privacy notice, but you can find out more details
		about any of these topics by clicking the link following each key point or by using our table of
		contents to find the section you are looking for.
	</strong>
</p>
<p>
	<strong>What personal information do we process?</strong> When you visit, use, or navigate our
	Services, we may process personal information depending on how you interact with CordFuck and the
	Services, the choices you make, and the products and features you use. Click
	<a href="#privacy-information-collect">here</a> to learn more.
</p>
<p>
	<strong>Do we process any sensitive personal information?</strong> We do not process sensitive personal
	information.
</p>
<p>
	<strong>Do we receive any information from third parties?</strong> We do not receive any information
	from third parties.
</p>
<p>
	<strong>How do we process your information?</strong>
	We process your information to provide, improve, and administer our Services, communicate with you,
	for security and fraud prevention, and to comply with law. We may also process your information for
	other purposes with your consent. We process your information only when we have a valid legal reason
	to do so. Learn more about
	<a href="#privacy-process-information">how we process your information.</a>
</p>
<p>
	<strong>In what situations and with which parties do we share personal information?</strong> We
	may share information in specific situations and with specific third parties. Click
	<a href="#privacy-share-information">here</a> to learn more.
</p>
<p>
	<strong>How do we keep your information safe?</strong> We have organizational and technical
	processes and procedures in place to protect your personal information. However, no electronic
	transmission over the internet or information storage technology can be guaranteed to be 100%
	secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized
	third parties will not be able to defeat our security and improperly collect, access, steal, or
	modify your information. Click <a href="#privacy-information-safe">here</a> to learn more.
</p>
<p>
	<strong>What are your rights?</strong> Depending on where you are located geographically, the
	applicable privacy law may mean you have certain rights regarding your personal information. Click
	<a href="#privacy-rights">here</a> to learn more.
</p>
<p>
	<strong>How do you exercise your rights?</strong> The easiest way to exercise your rights is by
	contacting us at <a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>. We will consider
	and act upon any request in accordance with applicable data protection laws.
</p>
<p>
	<strong>Want to learn more about what CordFuck does with any information we collect?</strong> Read
	below.
</p>
<h3 id="privacy-information-collect">1. WHAT INFORMATION DO WE COLLECT?</h3>
<h4>Personal information you disclose to us</h4>
<p><i><strong>In Short:</strong> We collect personal information that you provide to us. </i></p>
<p>
	We collect personal information that you voluntarily provide to us when you express an interest in
	obtaining information about us or our products and Services, when you participate in activities on
	the Services, or otherwise when you contact us.
</p>
<ul>
	<p>
		<strong>Personal Information Provided by You.</strong> The personal information that we collect depends
		on the context of your interactions with us and the Services, the choices you make, and the products
		and features you use. The personal information we collect may include the following:
	</p>
	<li>names</li>
	<li>phone numbers</li>
	<li>email addresses</li>
	<li>mailing addresses</li>
	<li>billing addresses</li>
	<li>debit/credit card numbers</li>
</ul>
<p><strong>Sensitive Information.</strong> We do not process sensitive information.</p>
<p>
	<strong>Payment Data.</strong> We may collect data necessary to process your payment if you make
	purchases, such as your payment instrument number, and the security code associated with your
	payment instrument. All payment data is stored by Paypal. You may find their privacy notice
	link(s) here:
	<a href="https://www.paypal.com/webapps/mpp/ua/privacy-full"
		>https://www.paypal.com/webapps/mpp/ua/privacy-full</a
	>.
</p>
<p>
	<strong>Usage Data.</strong> when you visit our site, we will store: the website from which you visited
	us from, the parts of our site you visit, the date and duration of your visit, your anonymised IP address,
	information from the device (device type, operating system, screen resolution, language, country you
	are located in, and web browser type) you used during your visit, and more. We process this usage data
	in Matomo Analytics for statistical purposes, to improve our site and to recognize and stop any misuse.
</p>

<p>
	All personal information that you provide to us must be true, complete, and accurate, and you must
	notify us of any changes to such personal information.
</p>
<h3 id="privacy-process-information">2. HOW DO WE PROCESS YOUR INFORMATION?</h3>
<h4>Personal information you disclose to us</h4>
<p>
	<i><strong>In Short:</strong></i> We process your information to provide, improve, and administer our
	Services, communicate with you, for security and fraud prevention, and to comply with law. We may also
	process your information for other purposes with your consent.
</p>
<ul>
	<p>
		<strong
			>We process your personal information for a variety of reasons, depending on how you interact
			with our Services, including:
		</strong>
	</p>
	<li>
		To deliver and facilitate delivery of services to the user. We may process your information to
		provide you with the requested service.
	</li>
	<li>
		To respond to user inquiries/offer support to users. We may process your information to respond
		to your inquiries and solve any potential issues you might have with the requested service.
	</li>
	<li>
		To request feedback. We may process your information when necessary to request feedback and to
		contact you about your use of our Services.
	</li>
	<li>
		To protect our Services. We may process your information as part of our efforts to keep our
		Services safe and secure, including fraud monitoring and prevention.
	</li>
	<li>
		To fulfill and manage your orders. We may process your information to fulfill and manage your
		orders, payments, returns, and exchanges made through the Services.
	</li>
	<li>
		To identify usage trends. We may process information about how you use our Services to better
		understand how they are being used so we can improve them.
	</li>
	<li>
		To save or protect an individual's vital interest. We may process your information when
		necessary to save or protect an individual’s vital interest, such as to prevent harm.
	</li>
</ul>
<h4>Information automatically collected</h4>
<p>
	<i><strong>In Short:</strong></i> Some information — such as your Internet Protocol (IP) address and/or
	browser and device characteristics — is collected automatically when you visit our Services.
</p>
<p>
	We automatically collect certain information when you visit, use, or navigate the Services. This
	information does not reveal your specific identity (like your name or contact information) but may
	include device and usage information, such as your IP address, browser and device characteristics,
	operating system, language preferences, referring URLs, device name, country, location,
	information about how and when you use our Services, and other technical information. This
	information is primarily needed to maintain the security and operation of our Services, and for
	our internal analytics and reporting purposes.
</p>
<ul>
	<li>
		Log and Usage Data. Log and usage data is service-related, diagnostic, usage, and performance
		information our servers automatically collect when you access or use our Services and which we
		record in log files. Depending on how you interact with us, this log data may include your IP
		address, device information, browser type, and settings and information about your activity in
		the Services (such as the date/time stamps associated with your usage, pages and files viewed,
		searches, and other actions you take such as which features you use), device event information
		(such as system activity, error reports (sometimes called "crash dumps"), and hardware
		settings).
	</li>
	<li>
		Device Data. We collect device data such as information about your computer, phone, tablet, or
		other device you use to access the Services. Depending on the device used, this device data may
		include information such as your IP address (or proxy server), device and application
		identification numbers, location, browser type, hardware model, Internet service provider and/or
		mobile carrier, operating system, and system configuration information.
	</li>
	<li>
		Location Data. We collect location data such as information about your device's location, which
		can be either precise or imprecise. How much information we collect depends on the type and
		settings of the device you use to access the Services. We use your anonymized IP address to
		collect geolocation data that tells us your current location.
	</li>
</ul>
<Optout />
<h3>3. WHAT LEGAL BASES DO WE RELY ON TO PROCESS YOUR INFORMATION?</h3>
<p>
	<i
		><strong>In Short:</strong> We only process your personal information when we believe it is necessary
		and we have a valid legal reason (i.e., legal basis) to do so under applicable law, like with your
		consent, to comply with laws, to provide you with services to enter into or fulfill our contractual
		obligations, to protect your rights, or to fulfill our legitimate business interests.
	</i>
</p>
<p>
	<u><i><strong>If you are located in the EU or UK, this section applies to you. </strong></i></u>
</p>
<ul>
	<p>
		The General Data Protection Regulation (GDPR) and UK GDPR require us to explain the valid legal
		bases we rely on in order to process your personal information. As such, we may rely on the
		following legal bases to process your personal information:
	</p>
	<li>
		<strong>Consent.</strong> We may process your information if you have given us permission (i.e.,
		consent) to use your personal information for a specific purpose. You can withdraw your consent
		at any time. Click <a href="#privacy-withdraw-consent">here</a> to learn more.
	</li>
	<li>
		<strong>Performance of a Contract.</strong> We may process your personal information when we believe
		it is necessary to fulfill our contractual obligations to you, including providing our Services or
		at your request prior to entering into a contract with you.
	</li>
	<li>
		<strong>Legitimate Interests.</strong> We may process your information when we believe it is
		reasonably necessary to achieve our legitimate business interests and those interests do not
		outweigh your interests and fundamental rights and freedoms. For example, we may process your
		personal information for some of the purposes described in order to:
		<ul>
			<li>Analyze how our Services are used so we can improve them to engage and retain users</li>
			<li>Diagnose problems and/or prevent fraudulent activities</li>
			<li>
				Understand how our users use our products and services so we can improve user experience
			</li>
		</ul>
	</li>
	<li>
		<strong>Legal Obligations.</strong> We may process your information where we believe it is necessary
		for compliance with our legal obligations, such as to cooperate with a law enforcement body or regulatory
		agency, exercise or defend our legal rights, or disclose your information as evidence in litigation
		in which we are involved.
	</li>
	<li>
		<strong>Vital Interests.</strong> We may process your information where we believe it is necessary
		to protect your vital interests or the vital interests of a third party, such as situations involving
		potential threats to the safety of any person.
	</li>
</ul>
<p><u><i><strong>If you are located in Canada, this section applies to you.</strong></i></u></p>
<p>
	We may process your information if you have given us specific permission (i.e., express consent)
	to use your personal information for a specific purpose, or in situations where your permission
	can be inferred (i.e., implied consent). You can withdraw your consent at any time. Click <a
		href="#privacy-withdraw-consent">here</a
	> to learn more.
</p>
<ul>
	<p>
		In some exceptional cases, we may be legally permitted under applicable law to process your
		information without your consent, including, for example:
	</p>
	<li>
		If collection is clearly in the interests of an individual and consent cannot be obtained in a
		timely way
	</li>
	<li>For investigations and fraud detection and prevention</li>
	<li>For business transactions provided certain conditions are met</li>
	<li>
		If it is contained in a witness statement and the collection is necessary to assess, process, or
		settle an insurance claim
	</li>
	<li>For identifying injured, ill, or deceased persons and communicating with next of kin</li>
	<li>
		If we have reasonable grounds to believe an individual has been, is, or may be victim of
		financial abuse
	</li>
	<li>
		If it is reasonable to expect collection and use with consent would compromise the availability
		or the accuracy of the information and the collection is reasonable for purposes related to
		investigating a breach of an agreement or a contravention of the laws of Canada or a province
	</li>
	<li>
		If disclosure is required to comply with a subpoena, warrant, court order, or rules of the court
		relating to the production of records
	</li>
	<li>
		If it was produced by an individual in the course of their employment, business, or profession
		and the collection is consistent with the purposes for which the information was produced
	</li>
	<li>If the collection is solely for journalistic, artistic, or literary purposes</li>
	<li>If the information is publicly available and is specified by the regulations</li>
</ul>
<h3 id="privacy-share-information">4. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?</h3>
<p>
	<i
		><strong>In Short:</strong> We may share information in specific situations described in this section
		and/or with the following third parties.
	</i>
</p>
<ul>
	<p>
		<strong>Vendors, Consultants, and Other Third-Party Service Providers.</strong> We may share your
		data with third-party vendors, service providers, contractors, or agents ("third parties") who perform
		services for us or on our behalf and require access to such information to do that work. The third
		parties we may share personal information with are as follows:
	</p>
	<li>
		<strong>Invoice and Billing</strong>
		PayPal
	</li>
	<li>
		<strong>Creating shipping labels</strong>
		Shippo
	</li>
</ul>
<ul>
	<p>We also may need to share your personal information in the following situations:</p>
	<li>
		<strong>Business Transfers.</strong> We may share or transfer your information in connection with,
		or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or
		a portion of our business to another company.
	</li>
</ul>
<h3>5. IS YOUR INFORMATION TRANSFERRED INTERNATIONALLY?</h3>
<p>
	<i
		><strong>In Short:</strong> We may transfer, store, and process your information in countries other
		than your own.
	</i>
</p>
<p>
	Our servers are located in the United States. If you are accessing our Services from outside the
	United States, please be aware that your information may be transferred to, stored, and processed
	by us in our facilities and by those third parties with whom we may share your personal
	information (see <a href="#privacy-share-information"
		>"WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?"</a
	> above), in the United States, and other countries.
</p>
<p>
	If you are a resident in the European Economic Area (EEA) or United Kingdom (UK), then these
	countries may not necessarily have data protection laws or other similar laws as comprehensive as
	those in your country. However, we will take all necessary measures to protect your personal
	information in accordance with this privacy notice and applicable law.
</p>
<p>European Commission's Standard Contractual Clauses:</p>
<p>
	We have implemented measures to protect your personal information, including by using the European
	Commission's Standard Contractual Clauses for transfers of personal information between our group
	companies and between us and our third-party providers. These clauses require all recipients to
	protect all personal information that they process originating from the EEA or UK in accordance
	with European data protection laws and regulations. Our Standard Contractual Clauses can be
	provided upon request. We have implemented similar appropriate safeguards with our third-party
	service providers and partners and further details can be provided upon request.
</p>
<h3>6. HOW LONG DO WE KEEP YOUR INFORMATION?</h3>
<p>
	<i
		><strong>In Short:</strong> We keep your information for as long as necessary to fulfill the purposes
		outlined in this privacy notice unless otherwise required by law.
	</i>
</p>
<p>
	We will only keep your personal information for as long as it is necessary for the purposes set
	out in this privacy notice, unless a longer retention period is required or permitted by law (such
	as tax, accounting, or other legal requirements). No purpose in this notice will require us
	keeping your personal information for longer than up until any of your transactions with us are
	fulfilled (I.E buying a product and receiving it via carrier).
</p>
<p>
	When we have no ongoing legitimate business need to process your personal information, we will
	either delete or anonymize such information, or, if this is not possible (for example, because
	your personal information has been stored in backup archives), then we will securely store your
	personal information and isolate it from any further processing until deletion is possible.
</p>
<h3 id="privacy-information-safe">7. HOW DO WE KEEP YOUR INFORMATION SAFE?</h3>
<p>
	<i
		><strong>In Short:</strong> We aim to protect your personal information through a system of organizational
		and technical security measures.
	</i>
</p>
<p>
	We have implemented appropriate and reasonable technical and organizational security measures
	designed to protect the security of any personal information we process. However, despite our
	safeguards and efforts to secure your information, no electronic transmission over the Internet or
	information storage technology can be guaranteed to be 100% secure, so we cannot promise or
	guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to
	defeat our security and improperly collect, access, steal, or modify your information. Although we
	will do our best to protect your personal information, transmission of personal information to and
	from our Services is at your own risk. You should only access the Services within a secure
	environment.
</p>
<h3>8. DO WE COLLECT INFORMATION FROM MINORS?</h3>
<p>
	<i
		><strong>In Short:</strong> We do not knowingly collect data from or market to children under 18
		years of age.
	</i>
</p>
<p>
	We do not knowingly solicit data from or market to children under 18 years of age. By using the
	Services, you represent that you are at least 18 or that you are the parent or guardian of such a
	minor and consent to such minor dependent’s use of the Services. If we learn that personal
	information from users less than 18 years of age has been collected, we will deactivate the
	account and take reasonable measures to promptly delete such data from our records. If you become
	aware of any data we may have collected from children under age 18, please contact us at
	<a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>.
</p>
<h3 id="privacy-rights">9. WHAT ARE YOUR PRIVACY RIGHTS?</h3>
<p>
	<i
		><strong>In Short:</strong> In some regions, such as the European Economic Area (EEA), United Kingdom
		(UK), and Canada, you have rights that allow you greater access to and control over your personal
		information. You may review, change, or terminate your account at any time.</i
	>
</p>

<p>
	In some regions (like the EEA, UK, and Canada), you have certain rights under applicable data
	protection laws. These may include the right (i) to request access and obtain a copy of your
	personal information, (ii) to request rectification or erasure; (iii) to restrict the processing
	of your personal information; and (iv) if applicable, to data portability. In certain
	circumstances, you may also have the right to object to the processing of your personal
	information. You can make such a request by contacting us by using the contact details provided in
	the section <a href="#privacy-contact">"HOW CAN YOU CONTACT US ABOUT THIS NOTICE?"</a> below.
</p>
<p>We will consider and act upon any request in accordance with applicable data protection laws.</p>
<p>
	If you are located in the EEA or UK and you believe we are unlawfully processing your personal
	information, you also have the right to complain to your local data protection supervisory
	authority. You can find their contact details here:
	<a href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm"
		>https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a
	>.
</p>
<p>
	If you are located in Switzerland, the contact details for the data protection authorities are
	available here: <a href="https://www.edoeb.admin.ch/edoeb/en/home.html"
		>https://www.edoeb.admin.ch/edoeb/en/home.html</a
	>.
</p>
<p>
	<u id="privacy-withdraw-consent"><strong>Withdrawing your consent: </strong></u> If we are relying
	on your consent to process your personal information, which may be express and/or implied consent
	depending on the applicable law, you have the right to withdraw your consent at any time. You can
	withdraw your consent at any time by contacting us by using the contact details provided in the
	section <a href="#privacy-contact">"HOW CAN YOU CONTACT US ABOUT THIS NOTICE?"</a> below.
</p>
<p>
	However, please note that this will not affect the lawfulness of the processing before its
	withdrawal nor, when applicable law allows, will it affect the processing of your personal
	information conducted in reliance on lawful processing grounds other than consent.
</p>
<p>
	If you have questions or comments about your privacy rights, you may email us at
	<a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>.
</p>
<h3>10. CONTROLS FOR DO-NOT-TRACK FEATURES</h3>
<p>
	Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track
	("DNT") feature or setting you can activate to signal your privacy preference not to have data
	about your online browsing activities monitored and collected. At this stage no uniform technology
	standard for recognizing and implementing DNT signals has been finalized. As such, we do not
	currently respond to DNT browser signals or any other mechanism that automatically communicates
	your choice not to be tracked online. If a standard for online tracking is adopted that we must
	follow in the future, we will inform you about that practice in a revised version of this privacy
	notice.
</p>
<h3>11. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?</h3>
<p>
	<i
		><strong>In Short:</strong> Yes, if you are a resident of California, you are granted specific rights
		regarding access to your personal information.
	</i>
</p>
<p>
	California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users
	who are California residents to request and obtain from us, once a year and free of charge,
	information about categories of personal information (if any) we disclosed to third parties for
	direct marketing purposes and the names and addresses of all third parties with which we shared
	personal information in the immediately preceding calendar year. If you are a California resident
	and would like to make such a request, please submit your request in writing to us using the
	contact information provided below.
</p>
<p>
	If you are under 18 years of age, reside in California, and have a registered account with
	Services, you have the right to request removal of unwanted data that you publicly post on the
	Services. To request removal of such data, please contact us using the contact information
	provided below and include the email address associated with your account and a statement that you
	reside in California. We will make sure the data is not publicly displayed on the Services, but
	please be aware that the data may not be completely or comprehensively removed from all our
	systems (e.g., backups, etc.).
</p>
<h4>CCPA Privacy Notice</h4>
<ul>
	<p>The California Code of Regulations defines a "resident" as:</p>
	<ol>
		<li>
			every individual who is in the State of California for other than a temporary or transitory
			purpose and
		</li>
		<li>
			every individual who is domiciled in the State of California who is outside the State of
			California for a temporary or transitory purpose
		</li>
	</ol>
</ul>
<p>All other individuals are defined as "non-residents."</p>
<p>
	If this definition of "resident" applies to you, we must adhere to certain rights and obligations
	regarding your personal information.
</p>
<h4>What categories of personal information do we collect?</h4>
<p>
	We have collected the following categories of personal information in the past twelve (12) months:
</p>
<table>
	<tr><th>Category</th><th>Examples</th><th>Collected</th></tr>
	<tr
		><td>A. Identifiers</td><td
			>Contact details, such as real name, alias, postal address, telephone or mobile contact
			number, unique personal identifier, online identifier, Internet Protocol address, email
			address, and account name
		</td><td>YES</td></tr
	>
	<tr
		><td
			>B. Personal information categories listed in the California Customer Records statute
		</td><td
			>Name, contact information, education, employment, employment history, and financial
			information
		</td><td>YES</td></tr
	>
	<tr
		><td>C. Protected classification characteristics under California or federal law </td><td
			>Gender and date of birth
		</td><td>NO</td></tr
	>
	<tr
		><td>D. Commercial information </td><td
			>Transaction information, purchase history, financial details, and payment information
		</td><td>YES</td></tr
	>
	<tr><td>E. Biometric information </td><td>Fingerprints and voiceprints </td><td>NO</td></tr>
	<tr
		><td>F. Internet or other similar network activity </td><td
			>Browsing history, search history, online behavior, interest data, and interactions with our
			and other websites, applications, systems, and advertisements
		</td><td>NO</td></tr
	>
	<tr><td>G. Geolocation data </td><td>Device location </td><td>NO</td></tr>
	<tr
		><td>H. Audio, electronic, visual, thermal, olfactory, or similar information </td><td
			>Images and audio, video or call recordings created in connection with our business activities
		</td><td>NO</td></tr
	>
	<tr
		><td>I. Professional or employment-related information </td><td
			>Business contact details in order to provide you our Services at a business level or job
			title, work history, and professional qualifications if you apply for a job with us
		</td><td>NO</td></tr
	>
	<tr
		><td>J. Education Information </td><td>Student records and directory information </td><td>NO</td
		></tr
	>
	<tr
		><td>K. Inferences drawn from other personal information </td><td
			>Inferences drawn from any of the collected personal information listed above to create a
			profile or summary about, for example, an individual’s preferences and characteristics
		</td><td>NO</td></tr
	>
</table>
<ul>
	<p>
		We may also collect other personal information outside of these categories through instances
		where you interact with us in person, online, or by phone or mail in the context of:
	</p>
	<li>Receiving help through our customer support channels;</li>
	<li>Participation in customer surveys or contests; and</li>
	<li>Facilitation in the delivery of our Services and to respond to your inquiries.</li>
</ul>
<h4>How do we use and share your personal information?</h4>
<p>
	More information about our data collection and sharing practices can be found in this privacy
	notice.
</p>
<p>
	You may contact us by email at <a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>, or
	by referring to the contact details at the bottom of this document.
</p>
<p>
	If you are using an authorized agent to exercise your right to opt out we may deny a request if
	the authorized agent does not submit proof that they have been validly authorized to act on your
	behalf.
</p>
<h4>Will your information be shared with anyone else?</h4>
<p>
	We may disclose your personal information with our service providers pursuant to a written
	contract between us and each service provider. Each service provider is a for-profit entity that
	processes the information on our behalf.
</p>
<p>
	We may use your personal information for our own business purposes, such as for undertaking
	internal research for technological development and demonstration. This is not considered to be
	"selling" of your personal information.
</p>
<ul>
	<p>
		CordFuck has not sold any personal information to third parties for a business or commercial
		purpose in the preceding twelve (12) months. CordFuck has disclosed the following categories of
		personal information to third parties for a business or commercial purpose in the preceding
		twelve (12) months:
	</p>
	<li>
		Category A. Identifiers, such as contact details like your real name, alias, postal address,
		telephone or mobile contact number, unique personal identifier, online identifier, Internet
		Protocol address, email address, and account name.
	</li>
	<li>
		Category B. Personal Information, as defined in the California Customer Records law, such as
		your name, contact information, education, employment, employment history, and financial
		information.
	</li>
</ul>
<p>
	The categories of third parties to whom we disclosed personal information for a business or
	commercial purpose can be found under <a href="#privacy-share-information1"
		>"WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?"</a
	>.
</p>
<h4>Your rights with respect to your personal data</h4>
<h5>Right to request deletion of the data — Request to delete</h5>
<p>
	You can ask for the deletion of your personal information. If you ask us to delete your personal
	information, we will respect your request and delete your personal information, subject to certain
	exceptions provided by law, such as (but not limited to) the exercise by another consumer of his
	or her right to free speech, our compliance requirements resulting from a legal obligation, or any
	processing that may be required to protect against illegal activities.
</p>
<h5>Right to be informed — Request to know</h5>
<ul>
	<p>Depending on the circumstances, you have a right to know:</p>
	<li>whether we collect and use your personal information;</li>
	<li>the categories of personal information that we collect;</li>
	<li>the purposes for which the collected personal information is used;</li>
	<li>whether we sell your personal information to third parties;</li>
	<li>the categories of personal information that we sold or disclosed for a business purpose;</li>
	<li>
		the categories of third parties to whom the personal information was sold or disclosed for a
		business purpose; and
	</li>
	<li>the business or commercial purpose for collecting or selling personal information.</li>
</ul>
<p>
	In accordance with applicable law, we are not obligated to provide or delete consumer information
	that is de-identified in response to a consumer request or to re-identify individual data to
	verify a consumer request.
</p>
<h5>Right to Non-Discrimination for the Exercise of a Consumer’s Privacy Rights</h5>
<p>We will not discriminate against you if you exercise your privacy rights.</p>
<h5>Verification process</h5>
<p>
	Upon receiving your request, we will need to verify your identity to determine you are the same
	person about whom we have the information in our system. These verification efforts require us to
	ask you to provide information so that we can match it with information you have previously
	provided us. For instance, depending on the type of request you submit, we may ask you to provide
	certain information so that we can match the information you provide with the information we
	already have on file, or we may contact you through a communication method (e.g., phone or email)
	that you have previously provided to us. We may also use other verification methods as the
	circumstances dictate.
</p>
<p>
	We will only use personal information provided in your request to verify your identity or
	authority to make the request. To the extent possible, we will avoid requesting additional
	information from you for the purposes of verification. However, if we cannot verify your identity
	from the information already maintained by us, we may request that you provide additional
	information for the purposes of verifying your identity and for security or fraud-prevention
	purposes. We will delete such additionally provided information as soon as we finish verifying
	you.
</p>
<ul>
	<h5>Other privacy rights</h5>
	<li>You may object to the processing of your personal information.</li>
	<li>
		You may request correction of your personal data if it is incorrect or no longer relevant, or
		ask to restrict the processing of the information.
	</li>
	<li>
		You can designate an authorized agent to make a request under the CCPA on your behalf. We may
		deny a request from an authorized agent that does not submit proof that they have been validly
		authorized to act on your behalf in accordance with the CCPA.
	</li>
	<li>
		You may request to opt out from future selling of your personal information to third parties.
		Upon receiving an opt-out request, we will act upon the request as soon as feasibly possible,
		but no later than fifteen (15) days from the date of the request submission.
	</li>
</ul>
<p>
	To exercise these rights, you can contact us by email at <a href="mailto:contact@cordfuck.com"
		>contact@cordfuck.com</a
	>, or by referring to the contact details at the bottom of this document. If you have a complaint
	about how we handle your data, we would like to hear from you.
</p>
<h3>12. DO WE MAKE UPDATES TO THIS NOTICE?</h3>
<p>
	<i
		><strong>In Short:</strong> Yes, we will update this notice as necessary to stay compliant with relevant
		laws.
	</i>
</p>
<p>
	We may update this privacy notice from time to time. The updated version will be indicated by an
	updated "Revised" date and the updated version will be effective as soon as it is accessible. If
	we make material changes to this privacy notice, we may notify you either by prominently posting a
	notice of such changes or by directly sending you a notification. We encourage you to review this
	privacy notice frequently to be informed of how we are protecting your information.
</p>
<h3 id="privacy-contact">13. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h3>
<p>
	If you have questions or comments about this notice, you may email us at <a
		href="mailto:contact@cordfuck.com">contact@cordfuck.com</a
	> or by post to:
</p>
<pre>
CordFuck
PO Box 811
Aurora, CO 80040
United States
</pre>
<h3>14. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM YOU?</h3>
<p>
	You have the right to request access to the personal information we collect from you, change that
	information, or delete it. To request to review, update, or delete your personal information,
	email <a href="mailto:contact@cordfuck.com">contact@cordfuck.com</a>.
</p>
