<script lang="ts">
	import { browser } from '$app/environment';
	import { onMount } from 'svelte';
	import { matomo } from '../../../store';

	let errorMessage: string | null = null;
	let consent: boolean = $matomo === undefined ? true : !$matomo?.isUserOptedOut();
	var settings = {
		useSecureCookies: true,
		cookiePath: null,
		cookieDomain: null,
		cookieSameSite: 'Lax'
	};
	onMount(() => {
		window.MatomoConsent.init(
			settings.useSecureCookies,
			settings.cookiePath,
			settings.cookieDomain,
			settings.cookieSameSite
		);
	});

	if (browser) {
		window.MatomoConsent = {
			cookiesDisabled: !navigator || !navigator.cookieEnabled,
			CONSENT_COOKIE_NAME: 'mtm_consent',
			CONSENT_REMOVED_COOKIE_NAME: 'mtm_consent_removed',
			cookieIsSecure: false,
			useSecureCookies: true,
			cookiePath: '',
			cookieDomain: '',
			cookieSameSite: 'Lax',
			init: function (
				useSecureCookies: boolean,
				cookiePath: null,
				cookieDomain: null,
				cookieSameSite: string
			) {
				this.useSecureCookies = useSecureCookies;
				this.cookiePath = cookiePath;
				this.cookieDomain = cookieDomain;
				this.cookieSameSite = cookieSameSite;
				if (useSecureCookies && location.protocol !== 'https:') {
					console.warn('Error with setting useSecureCookies: You cannot use this option on http.');
				} else {
					this.cookieIsSecure = useSecureCookies;
				}
			}
		};
	}
</script>

<div class="my-4 rounded bg-black p-4">
	<p style="color: red; font-weight: bold;">
		{#if browser && (!navigator || !navigator.cookieEnabled)}
			The tracking opt-out feature requires cookies to be enabled.
		{/if}
		{#if browser && location.protocol !== 'https:'}
			The tracking opt-out feature may not work because this site was not loaded over HTTPS. Please
			reload the page to check if your opt out status changed.
		{/if}
		{#if errorMessage !== null}
			{errorMessage}
		{/if}
	</p>
	{#if consent}
		<p>
			You may choose to prevent this website from aggregating and analyzing the actions you take
			here. Doing so will protect your privacy, but will also prevent the owner from learning from
			your actions and creating a better experience for you and other users.
		</p>
		<input
			on:click={() => {
				$matomo.optUserOut();
				consent = false;
				errorMessage = null;
			}}
			id="trackVisits"
			type="checkbox"
			checked={true}
		/>
		<label for="trackVisits">
			<strong><span>You are not opted out. Uncheck this box to opt-out.</span></strong>
		</label>
	{:else}
		<p>
			Opt-out complete; your visits to this website will not be recorded by the Web Analytics tool.
			Note that if you clear your cookies, delete the opt-out cookie, or if you change computers or
			Web browsers, you will need to perform the opt-out procedure again.
		</p>
		<input
			on:click={() => {
				$matomo.forgetUserOptOut();
				consent = true;
				errorMessage = null;
			}}
			id="trackVisits"
			type="checkbox"
		/>
		<label for="trackVisits"
			><strong><span>You are currently opted out. Check this box to opt-in.</span></strong></label
		>
	{/if}
</div>
