<script lang="ts">
	import TrackSelectors from './TrackSelectors.svelte';
	import type { PageData } from './$types.js';
	import SvelteSeo from 'svelte-seo';
	import type { Release } from '$lib/types.js';

	export let data: PageData;

	const release: Release = data.release;

	function truncate(str: string | undefined, num: number) {
		return str!.length > num ? str!.slice(0, num - 1) + '...' : str;
	}
</script>

{#if !(release.review === undefined && release.description === undefined)}
	<SvelteSeo
		description={release.review ?? release.description}
		openGraph={{
			description: release.review ?? release.description
		}}
		twitter={{
			description: truncate(release.review ?? release.description, 190)
		}}
	/>
{/if}

<SvelteSeo
	title="{release.title} | CordFuck"
	canonical="https://cordfuck.com/discography/{release.catalogNumber}"
	openGraph={{
		title: `${release.title} | CordFuck`,
		url: `https://cordfuck.com/discography/${release.catalogNumber}`,
		image: `https://cordfuck.com/api/release-og.png?cat=${release.catalogNumber}`,
		images: [
			{
				url: `https://cordfuck.com/api/release-og.png?cat=${release.catalogNumber}`,
				width: 1200,
				height: 630,
				alt: `${release.title} by ${release.artist}. OUT NOW! Listen on cordfuck.com or YouTube.`
			}
		],
		type: 'music.album',
		music: {
			release_date: release.date.toString()
		},
		audio: release.songs[0].downloadUrl.toString()
	}}
	twitter={{
		card: 'player',
		title: truncate(`${release.artist} - ${release.title}`, 65),
		image: release.coverArtUrl.toString(),
		player: release.songs[0].downloadUrl.toString(),
		playerWidth: '400',
		playerHeight: '100'
	}}
/>

<div class="w-full items-start md:flex">
	<div class="mb-4 aspect-square w-full shrink grow-[0.7] basis-0 md:mb-0 md:mr-4 md:w-0">
		<img
			class="max-h-full max-w-full object-contain"
			src={release.coverArtUrl.toString()}
			alt=""
			style:view-transition-name="release-image-{release.catalogNumber}"
		/>
	</div>
	<div class="flex w-full shrink grow basis-0 flex-col gap-2 md:w-0">
		<h1 class="text-xl font-medium">
			{release.artist} - {release.title}
		</h1>
		<small class="text-sm text-textOffish">{release.catalogNumber} {release.date}</small>
		{#if release.review !== undefined}
			<figure>
				<blockquote class="rounded-l-sm border-l-4 border-themeAlt bg-black p-2 leading-7">
					{release.review}
				</blockquote>
				{#if release.reviewAuthor !== undefined}
					<figcaption class="font-semibold tracking-wide text-textOffish">
						—<cite>{release.reviewAuthor}</cite>
					</figcaption>
				{/if}
			</figure>
		{/if}
		{#if release.description}
			{#each release.description.split('\n') as paragraph}
				<p class="-mb-1 leading-7">{paragraph}</p>
			{/each}
		{/if}
		<a
			class="btn matomo_download mt-4 w-max self-center"
			download
			href={release.downloadUrl.toString()}>Download</a
		>
	</div>
</div>
<TrackSelectors {release} />
