<script lang="ts">
	import type { Release } from '$lib/types.js';
	import TrackSelector from './TrackSelector.svelte';

	export let release: Release;
</script>

<ol class="mb-4 flex flex-col gap-3 pt-4">
	{#each release.songs as song}
		<TrackSelector {song} {release} />
	{/each}
</ol>
