<script lang="ts">
	import type { Song, Release } from '$lib/types.js';
	import { toPrettyTime } from '$lib/prettyTime.js';
	import { onMount } from 'svelte';
	import { currentSong } from '../../../store.js';
	import loader from '$lib/assets/loader.svg';
	import play from '$lib/assets/play-circle.svg';
	import pause from '$lib/assets/pause-circle.svg';

	export let release: Release;
	export let song: Song;

	let player: HTMLAudioElement;
	let isLoading = false;
	let totalTime = 0;
	let totalPrettyTime = 'Loading...';

	const toggleAudio = async () => {
		if ($currentSong?.song != song) {
			currentSong.set({
				release,
				song,
				isPlaying: true
			});
		} else if ($currentSong?.isPlaying) {
			currentSong.pause();
		} else {
			currentSong.play();
		}
	};

	onMount(() => {
		try {
			player = new Audio(song.downloadUrl.toString());
			player.preload = 'metadata';
			player.onloadedmetadata = () => {
				totalTime = player.duration;
				totalPrettyTime = toPrettyTime(totalTime);
			};
		} catch (e) {
			console.error(e);
		}
	});
</script>

<li class="flex w-full content-start gap-3 text-left text-sm">
	<button on:click={toggleAudio} class="flex shrink-0 content-start">
		<img
			class="h-[2em] w-[2em] {isLoading ? 'animate-spin' : ''}"
			src={isLoading
				? loader
				: $currentSong?.isPlaying && $currentSong?.song == song
					? pause
					: play}
			alt={$currentSong?.isPlaying && $currentSong?.song == song ? 'pause' : 'play'}
		/>
	</button>
	<div class="mt-[0.2em]">
		<span class="font-semibold">{song.trackNumber}.</span>
		{song.artist} - {song.name}&nbsp; <span class="font-medium">{totalPrettyTime}</span>
	</div>
</li>
