<body>
	<div
		style="
			background-color: black;
			display: flex;
			justify-content: space-between;
			width: 1200px;
			height: 630px;
			padding: 2rem;
			align-items: center;
			color: whitesmoke;
			gap: 2rem;
			font-family: Open Sans;
		"
	>
		<img src="RELEASEURL" style="height: IMAGEHEIGHTpx; width: IMAGEWIDTHpx" alt="" />
		<div
			style="
				display: flex;
				justify-content: space-around;
				flex-grow: 1;
				height: 100%;
				flex-direction: column;
				align-content: center;
				text-align: center;
				min-width: 50%;
				max-width: 50%;
				padding-right: 2rem;
			"
		>
			<div
				style="
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-content: center;
					letter-spacing: -1px;
					text-align: center;
					width: 100%;
				"
			>
				<span
					style="
						font-size: 2.5rem;
						font-weight: 700;
						text-transform: uppercase;
						max-width: 100%;
						line-clamp: 3;
						display: block;
						align-self: center;
						align-items: center;
					"
				>
					RELEASETITLE
				</span>
				<span
					style="
						font-size: 1.7rem;
						font-weight: 600;
						max-width: 100%;
						line-clamp: 1;
						align-self: center;
						align-items: center;
						display: block;
						text-align: center;
					"
				>
					RELEASEARTIST
				</span>
			</div>
			<div
				style="
					font-size: 2rem;
					font-weight: 700;
					text-transform: uppercase;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					letter-spacing: -1px;
				"
			>
				<span
					style="
						font-size: 2.5rem;
						margin: 0;
						margin-bottom: 1rem;
						font-weight: 800;
						letter-spacing: -1.5px;
					"
				>
					OUT NOW!!!
				</span>
				<span> Listen now on </span>
				<span style="gap: 0.25em"
					><span style="text-decoration: underline">cordfuck.com</span> or
					<span style="text-decoration: underline">YouTube</span></span
				>
			</div>
			<img
				style="width: 13rem; height: 82px; align-self: flex-end"
				src="https://media.cordfuck.com/art/CordFuck%20Banner.svg"
				alt=""
			/>
		</div>
	</div>
</body>
